<div class="field_master">

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :approx_start_time %>
      <%= f.number_field :approx_start_time %>
    </div>

    <div class="field">
      <%= f.label :approx_end_time %>
      <%= f.number_field :approx_end_time %>
    </div>

    <div class="field">
      <%= f.label :parent_id %>
      <%= f.collection_select :parent_id, EcochronologicalUnit.all, :id, :name, :include_blank => true %>
    </div>

</div>
