<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ecochronological_unit.name %>
</p>

<p>
  <strong>Approx start time:</strong>
  <%= @ecochronological_unit.approx_start_time %>
</p>

<p>
  <strong>Approx end time:</strong>
  <%= @ecochronological_unit.approx_end_time %>
</p>

<%= link_to 'Edit', edit_ecochronological_unit_path(@ecochronological_unit) %> |
<%= link_to 'Back', ecochronological_units_path %>
