<div class="container">
  <%= render 'shared/action_breadcrumbs', i: @ecochronological_unit %>

  <p>
  <strong>Name:</strong>
  <%= @ecochronological_unit.name %>
  </p>

  <p>
  <strong>Approx start time:</strong>
  <%= @ecochronological_unit.approx_start_time %>
  </p>

  <p>
  <strong>Approx end time:</strong>
  <%= @ecochronological_unit.approx_end_time %>
  </p>

  <%= render 'shared/action_buttons', i: @ecochronological_unit %>
</div>
