<div class="row g-3">
  <div class="col-md-6">
    <%= f.label :material, class: "form-label" %>
    <div>
      <%= f.collection_select :material_id, Material.all, :id, :name, { include_blank: 'Create new' }, {:class => "observed_select form-select", disabled: disabled}  %>
    </div>
    <%= f.fields_for :material, :include_id => false do |material| %>
      <%= render 'materials/material_fields', :f => material %>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= f.label :species, class: "form-label" %>
    <div>
      <%= f.collection_select :species_id, Species.all, :id, :name, { include_blank: 'Create new' }, {:class => "observed_select form-select", disabled: disabled}  %>
    </div>
    <%= f.fields_for :species, :include_id => false do |species| %>
      <%= render 'species/species_fields', :f => species %>
    <% end %>
  </div>
</div>

<div class="flex_field_element">
  <div class="field_master_top">
    <b><%= f.label :site_phase %></b>
  </div>
  <div class="field_master">
    <div class="field">
      <%= f.collection_select :site_phase_id, SitePhase.all, :id, :name, { include_blank: 'Create new' }, {:class => "observed_select"} %>
      <%= link_to 'edit', root_path, :id => "edit_site_phase_link", :class => "select_edit_link" %>
      <script type="text/javascript">
        $("#edit_site_phase_link").click(function() { $(this).attr("href", "/site_phases/" + $("#arch_object_site_phase_id").val() + "/edit") });
      </script>
    </div>
    <div class="field_master">
      <%= f.fields_for :site_phase, :include_id => false do |site_phase| %>
        <%= render 'site_phases/site_phase_fields', :f => site_phase %>
      <% end %>
    </div>
  </div>
</div>

<div class="flex_field_element">
  <div class="field_master_top">
    <b><%= f.label :on_site_object_position %></b>
  </div>
  <%= f.fields_for :on_site_object_position, :include_id => false do |on_site_object_position| %>
    <%= render 'on_site_object_positions/on_site_object_position_fields', :f => on_site_object_position %>
  <% end %>
</div>

