<%= form_with(model: arch_object, local: true) do |form| %>
  <% if arch_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(arch_object.errors.count, "error") %> prohibited this arch_object from being saved:</h2>

      <ul>
      <% arch_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
    <%= form.label :site %>
    <%= form.collection_select :site_id, Site.all, :id, :name %>
  </div>

	<div class="field">
    <%= form.label :material %>
    <%= form.collection_select :material_id, Material.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :species %>
    <%= form.collection_select :species_id, Species.all, :id, :species %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
