<%= form_with(model: arch_object, local: true) do |f| %>
  <% if arch_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(arch_object.errors.count, "error") %> prohibited this arch_object from being saved:</h2>

      <ul>
      <% arch_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= f.label :site %></h3>
  <div class="field">
    <%= f.collection_select :site_id, Site.all, :id, :name, { include_blank: 'Create new' } %>
  </div>
  <div class="field">
    <%= f.fields_for :site, @arch_object.site do |site_fields| %>
      <%= site_fields.label :name %>
      <%= site_fields.text_field :name, placeholder: 'New site' %>
      <%= site_fields.label :lat %>
      <%= site_fields.text_field :lat, placeholder: 0 %>
      <%= site_fields.label :lng %>
      <%= site_fields.text_field :lng, placeholder: 0 %>

      <p><b><%= site_fields.label :site_type %></b></p>
      <div class="field">
        <%= site_fields.collection_select :site_type_id, SiteType.all, :id, :name, { include_blank: 'Create new' }, {:class => "observed_select"} %>
      </div>
      <div class="field">
        <%= site_fields.fields_for :site_type, SiteType.new do |site_type_fields| %>
          <%= site_type_fields.label :name %>
          <%= site_type_fields.text_field :name, placeholder: 'New site type' %>
          <%= site_type_fields.label :description %>
          <%= site_type_fields.text_field :description, placeholder: 'Description' %>
        <% end %>
      </div>

      <p><b><%= site_fields.label :country %></b></p>
      <div class="field">
        <%= site_fields.collection_select :country_id, Country.all, :id, :name, { include_blank: 'Create new' }, {:class => "observed_select"} %>
      </div>
      <div class="field">
        <%= site_fields.fields_for :country, Country.new do |country_fields| %>
          <%= country_fields.label :name %>
          <%= country_fields.text_field :name, placeholder: 'New country' %>
          <%= country_fields.label :description %>
          <%= country_fields.text_field :abbreviation, placeholder: 'Abbreviation' %>
        <% end %>
      </div>
    <% end %>
  </div>
  <hr>

  <h3><%= f.label :material %></h3>
  <div class="field">
    <%= f.collection_select :material_id, Material.all, :id, :name, { include_blank: 'Create new' } %>
  </div>
  <div class="field">
    <%= f.fields_for :material, @arch_object.material do |material| %>
      <%= f.label :name %>
      <%= material.text_field :name, placeholder: 'New material' %>
    <% end %>
  </div>

  <hr>

  <h3><%= f.label :species %></h3>
  <div class="field">
    <%= f.collection_select :species_id, Species.all, :id, :name %>
  </div>

  <hr>

  <h3><%= f.label :on_site_object_position %></h3>
  <div class="field">
    <%= f.collection_select :on_site_object_position_id, OnSiteObjectPosition.all, :id, :feature %>
  </div>

  <hr>

  <h3>Samples</h3>
  <div id='sample'>
    <%= f.fields_for :samples do |sample| %>
      <%= render 'samples/sample_fields_ass', :f => sample %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add sample', f, :samples, partial: 'samples/sample_fields_ass' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
