<%= form_with(model: arch_object, local: true) do |f| %>
  <% if arch_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(arch_object.errors.count, "error") %> prohibited this arch_object from being saved:</h2>

      <ul>
      <% arch_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex_field_container">

    <div class="flex_field_element">
      <div class="field_master_top">
        <b><%= f.label :site_phase %></b>
      </div>
      <div class="field_master">
        <div class="field">
          <%= f.collection_select :site_phase_id, SitePhase.all, :id, :name, { include_blank: 'Create new' }, {:class => "observed_select"} %>
          <%= link_to 'edit', root_path, target: "_blank", :id => "edit_site_phase_link", :class => "select_edit_link" %>
          <script type="text/javascript">
            $("#edit_site_phase_link").click(function() { $(this).attr("href", "/site_phases/" + $("#arch_object_site_phase_id").val() + "/edit") });
          </script>
        </div>
        <%= f.fields_for :site_phase, @arch_object.site_phase do |site_phase| %>
          <%= render 'site_phases/site_phase_fields', :f => site_phase %>
        <% end %>
      </div>
    </div>

    <div class="flex_field_element">
      <div class="field_master_top">
        <b><%= f.label :material %></b>
      </div>
      <div class="field_master">
        <div class="field">
          <%= f.collection_select :material_id, Material.all, :id, :name, { include_blank: 'Create new' }, {:class => "observed_select"} %>
        </div>
        <%= f.fields_for :material, @arch_object.material do |material| %>
          <%= render 'materials/material_fields', :f => material %>
        <% end %>
      </div>

      <div class="field_master_top">
        <b><%= f.label :species %></b>
      </div>
      <div class="field_master">
        <div class="field">
          <%= f.collection_select :species_id, Species.all, :id, :name, { include_blank: 'Create new' }, {:class => "observed_select"} %>
        </div>
        <%= f.fields_for :species, @arch_object.species do |species| %>
          <%= render 'species/species_fields', :f => species %>
        <% end %>
      </div>

      <div class="field_master_top">
        <b><%= f.label :on_site_object_position %></b>
      </div>
      <div class="field_master">
        <div class="field">
          <%= f.collection_select :on_site_object_position_id, SitePhase.all, :id, :name, { include_blank: 'Create new' }, {:class => "observed_select"} %>
        </div>
        <%= f.fields_for :on_site_object_position, @arch_object.on_site_object_position do |on_site_object_position| %>
          <%= render 'on_site_object_positions/on_site_object_position_fields', :f => on_site_object_position %>
        <% end %>
      </div>
    </div>

    <div class="flex_field_element">
      <div class="field_master_top">
        <b><%= f.label :samples %></b>
      </div>
      <div class="field_master">
        <%= f.fields_for :samples do |sample| %>
          <%= render 'samples/sample_fields_ass', :f => sample %>
        <% end %>
        <div class='links'>
          <%= fa_icon "plus" %> <%= link_to_add_association 'add sample', f, :samples, partial: 'samples/sample_fields_ass' %>
        </div>
      </div>
    </div>

  </div>

  <div class="field_master_top">
    <b>Submit</b>
  </div>
  <div class="field_master">
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>

<% end %>
