<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Arch Objects</h1>

  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @arch_objects.each do |arch_object| %>
        <tr>
          <td><%= link_to 'Show', arch_object %></td>
          <td><%= link_to 'Edit', edit_arch_object_path(arch_object) %></td>
          <td><%= link_to 'Destroy', arch_object, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Arch Object', new_arch_object_path %>
</div>
