<div class="container-flex" style="overflow-x:hidden">
  <div class="row bg-secondary bg-opacity-50">
    <div class="col">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="d-flex justify-content-start">
              <h1>
                <%= c14.lab_identifier %>
              </h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="d-flex justify-content-start">
              <p><b><%= C14.label.capitalize %> from <%= c14.sample.context.site.name%></b><p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="d-flex justify-content-start">
              <p><%= c14.cal_age %><p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="d-flex justify-content-start">
              <p>Imported from <%= c14.source_database.name %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="d-flex justify-content-center">
      <%= render 'c14s/calibrate', :c14 => c14 %>
    </div>
  </div>

  <div class="row mt-5">

    <div class="col">
      <div class="container">
        <div class="row">
          <div class="col">
            <small>
              <div class="row mt-3">
                <div class="col-md-6">
                  <%= render 'c14_details', :c14 => c14 %>
                </div>
                  <div class="col-md-6">
                    <%= render 'c14s/c14_details', :c14 => c14 %>
                  </div>
                <div class="col-md-6">
                  <%= render 'sites/site_details', :site => c14.sample.context.site %>
                </div>
                <div class="col-md-6">
                </div>
              </div>
            </small>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>





