<article class="card">

  <div class="card-header">
    <%= xr_icon C14, {}, { class: "img-fluid", style: "width: auto; height: 1.1rem;" } %>
    <%= C14.label.humanize %>
  </div>

  <div class="card-body">
    <h1 class="card-title h4">
      <%= link_to c14.lab_identifier, c14 %>
    </h1>
    <h2 class="card-subtitle h6 mb-2 text-body-secondary">
      <%= c14.site.site_names.pluck(:name).join(", ") %>
    </h2>

    <p class="card-text">
      <%= c14.method.present? ? c14.method.humanize : "Radiocarbon" %> date
      from <%= link_to c14.site.name, c14.site %>
      <% unless c14.site.country.blank? %>(<%= c14.site.country %>)<% end %>
    </p>

  </div>

  <div class="card-footer">
    <%= link_to c14_path(c14, anchor: "c14-references"), 
      class: "card-link fw-semibold",
      title: Reference.label.humanize.pluralize do %>
      <%= xr_icon Reference, {}, { style: "width: auto; height: 1.1rem;" } %>
      <%= c14.references.count %>
    <% end %>
  </div>

</article>
