<dl class="row gx-5">

  <!-- On-site context -->
  <div class="col-lg">
    <div class="row">

      <dt class="col-sm-3">Site</dt>
      <dd class="col-sm-9 text-end"><%= link_to c14.site.name, c14.site  %></dd>

      <dt class="col-sm-3">Context</dt>
      <dd class="col-sm-9 text-end"><%= c14.context.name %></dd>

      <dt class="col-sm-3">Sample position</dt>
      <dd class="col-sm-9 text-end">
        <%= c14.sample.position_description.present? ? c14.sample.position_description : na_value %>
      </dd>

      <dt class="col-sm-3">Sample coordinates</dt>
      <dd class="col-sm-9 text-end"><!-- not implemented --><%= na_value %></dd>
    </div>
  </div>

  <!-- Sources -->
  <div class="col-lg">
    <div class="row">

      <dt class="col-sm-3">Source database</dt>
      <dd class="col-sm-9 text-end"><%= c14.source_database.name %></dd>

      <dt class="col-sm-3">References</dt>
      <dd class="col-sm-9 text-end"><!-- not implemented --><%= na_value %></dd>

    </div>
  </div>

</dl>

