<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col"><sup>14</sup>C Measurement</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Uncalibrated BP</th>
      <td><%= c14_measurement.bp%></td>
    </tr>
    <tr>
      <td>Uncalibrated Standard Deviation</th>
      <td><%= c14_measurement.std%></td>
    </tr>
    <tr>
      <td>Calibrated BP</th>
      <td><%= c14_measurement.cal_bp%></td>
    </tr>
    <tr>
      <td>Calibrated Standard Deviation</th>
      <td><%= c14_measurement.cal_std%></td>
    </tr>
    <tr>
      <td>Delta <sup>13</sup>C</th>
      <td><%= c14_measurement.delta_c13%></td>
    </tr>
    <tr>
      <td>Delta <sup>13</sup>C Standard Deviation</th>
      <td><%= c14_measurement.delta_c13_std%></td>
    </tr>
    <tr>
      <td>Method</th>
      <td><%= c14_measurement.method%></td>
    </tr>
    <tr>
      <td>Source Database</th>
      <td><%= c14_measurement.source_database.name%></td>
    </tr>
  </tbody>
</table>
