<table class="table table-hover">
  <thead>
    <tr>
      <th scope=col>Lab ID</th>
      <th scope=col>Context</th>
      <th scope=col>Material</th>
      <th scope=col>Taxon</th>
      <th scope=col>Method</th>
      <th scope=col class="text-end">Uncalibrated age</th>
      <th scope=col class="text-end">Calibrated age</th>
    </tr>
  </thead>

  <tbody>
    <% c14s.each do |c14| %>
      <tr>
        <td><%= link_to c14.lab_identifier, c14 %></td>
        <td><%= c14.sample.context.name %></td>
        <td><%= c14.sample.material.present? ? c14.sample.material.name : na_value %></td>
        <td><%= c14.sample.taxon.present? ? c14.sample.taxon.name : na_value %></td>
        <td><%= c14.method.present? ? c14.method : na_value %></td>
        <td class="text-end font-monospace"><%= c14.uncal_age %></td>
        <td class="text-end font-monospace"><%= c14.cal_age %></td>
      </tr>
    <% end %>
  </tbody>
</table>
