<% content_for :title, C14.label.humanize.pluralize %>
<% content_for :meta_description do %>List of <%= @pagy.count %> radiocarbon dates from archaeological sites around the world, including laboratory measurement, sample and contextual information, and bibliographic references.<% end %>

<div class="container my-5">

  <h1><%= C14.label.pluralize.humanize %></h1>
  <p>Showing <%= @pagy.count %> <%= C14.label.pluralize(@pagy.count) %>.</p>

  <turbo-frame id="c14s-table">
    <div id="c14s-toolbar" class="d-flex">
      <div class="ms-auto dropdown">
        <button class="btn btn-sm btn-outline-primary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                title="Download">
          <%= bs_icon("download") %>
        </button>

        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <%= link_to c14s_path(format: :csv, **@c14_params.to_h),
                        class: "dropdown-item",
                        title: "Download CSV" do %>
              CSV
            <% end %>
          </li>
          <li>
            <%= link_to c14s_path(format: :json, schema: C14::MIAARD::SCHEMA, c14: @c14_params.to_h),
                        class: "dropdown-item",
                        title: "Export the current C14 selection as a MIaaRD JSON collection" do %>
              MIaaRD JSON
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <%= render "table", c14s: @c14s %>
  </turbo-frame>

  <% if can? :create, C14 %>
    <%= link_to 'New C14 measurement', new_c14_path, class: 'btn btn-secondary' %>
  <% end %>
</div>
