<% content_for :title, "#{@c14.lab_identifier}, #{C14.label} from #{@c14.site.name}" %>
<% content_for :head do %>
  <%= javascript_pack_tag 'map' %>
<% end %>

<div id="notice"><%= notice %></div>

<header id="c14-header" class="bg-primary text-light">
  <div class="container my-5">
    <h1 class="display-1"><%= @c14.lab_identifier %></h1>
    <h2 class="display-6">
      <%= "#{C14.label.humanize} from " %>
      <%= link_to @c14.site.name, @c14.site, class: "link-light" %>
    </h2>
  </div>
</header>

<section id="c14-calibration" class="bg-secondary">
  <div class="d-flex justify-content-center">
    <%= render 'c14s/calibrate', :c14 => @c14 %>
  </div>
</section>

<section id="c14-details" class="bg-body">
  <div class="container my-5">
    <h2>Measurement details</h2>
    <%= render "c14_measurement", c14: @c14 %>
  </div>

  <div class="container my-5">
    <h2>Context</h2>
    <%= render "c14_context", c14: @c14 %>
  </div>
</section>

<section id="c14-site-details" class="bg-light">
  <div class="container my-5">
    <h2>Site details</h2>
    <%= render 'sites/site_details', :site => @c14.site %>
    <p><%= link_to "More information about #{@c14.site.name}", @c14.site %></p>
  </div>
</section>

