<% content_for :title, "#{@c14.lab_identifier}, #{C14.label} from #{@c14.site.name}" %>
<% content_for :meta_description do %>
  <%= @c14.site.name %> (<%= @c14.site.country %>) has been radiocarbon dated to <%= @c14.cal.range.join("–").html_safe %> (<%= @c14.uncal_age %> uncal BP). This determination is designated by the laboratory identifier <%= @c14.lab_identifier %> and was made on a sample of <%= @c14.sample.material.name %> (<%= @c14.sample.taxon.present? ? @c14.sample.taxon.name : "taxon unknown" %>). XRONOS' record for this radiocarbon date may include further information on the laboratory measurement, archaeological context, and bibliographic references.
<% end %>

<main class="container my-5">

  <%= render "header" %>

  <section id="c14-measurement" class="my-5">
    <h2><%= bs_icon "rulers" %> Measurement</h2>
    <%= render "c14_measurement", c14: @c14 %>
  </section>

  <section id="c14-calibration" class="my-5">
    <h2><%= bs_icon "graph-down" %> Calibration</h2>
    <div class="row">

      <div class="col-lg-8" style="margin-bottom: -31px" data-controller="vega">
        <%= cal_plot(@cal) %>
      </div>

      <div class="col-lg-4">
        <dl>
          <dt>Calibration curve</dt>
          <dd>
            <%= @cal.c14_curve %>
            (<%= c14_curve_ref(@cal.c14_curve) %>)
          </dd>

          <dt>Calibrated age <small>(2&sigma;, cal BP)</small></dt>
          <dd class="font-monospace">
            <ul class="list-unstyled">
            <% @cal.hd_intervals.each do |hdi| %>
              <li><%= format_hd_interval(hdi) %></li>
            <% end %>
            </ul>
          </dd>
        </dl>
      </div>

    </div>
  </section>

  <section id="c14-context" class="my-5">
    <h2><%= bs_icon "diagram-3" %> Context</h2>
    <%= render "c14_context", c14: @c14 %>
  </section>

  <section id="c14-references" class="my-5">
    <% references = (@c14.references + @c14.site.references).uniq %>
    <h2>
      <%= xr_icon Reference, {}, style: "width: auto; height: 2rem" %>
      <%= Reference.label.humanize.pluralize %>
      <small class="text-muted">(<%= references.count %>)</small>
    </h2>
    <%= render "references/bibliography", references: (@c14.references + @c14.site.references).uniq %>
  </section>

  <section id="c14-changelog" class="my-5">
    <h2>Changelog</h2>
    <%= render "application/paper_trail/versions", item: @c14 %>
  </section>

</main>
