<% content_for :title, "Issues – References" %>
<% if params[:issue] == "long_label" %>
  <% content_for :help do %>
    <%= render "issues/references/long_label/help" %>
  <% end %>
<% end %>

<h2 class="border-bottom">References</h2>

<%= render "issues/nav", model: Reference, base_path: issues_references_path %>

<turbo-frame id="issues-references-table">
  <%= render "issues/filter_form" %>
  <%=
    case params[:issue]
    when "long_label"
      render "issues/references/long_label/table", references: @references 
    else
      render "table", references: @references
    end
  %>
  <%== pagy_bootstrap_nav(@pagy) %>
</turbo-frame>
