<h2 class="h5">Context</h5>

<% if @c14.present?%>
  <%= f.fields_for :context, @c14.context do |ff| %>
    <%= render "contexts/fields", f: ff %>
  <% end %>
<% end %>

<% if @dendro.present?%>
  <%= f.fields_for :context, @dendro.context do |ff| %>
    <%= ff.hidden_field :site_id, value: @dendro.sample.context.site_id %> <!-- Pass the site ID -->
    <%= render "contexts/fields", f: ff %>
  <% end %>
<% end %>

<h2 class="h5">Sample</h5>

<div class="row">
  <div class="col">
    <%= f.collection_select :material_id, Material.all, :id, :name, 
      { include_blank: '<NA>' }, 
      { data: { controller: 'tom-select' } } %>
  </div>
  <div class="col">
    <%= f.collection_select :taxon_id, Taxon.all, :id, :name, 
      { include_blank: '<NA>' }, 
      { data: { controller: 'tom-select' } } %>
  </div>
</div>

<!-- TODO: name? -->
<%= f.text_field :position_description, label: "Position" %>

<div class="row">
  <div class="col"><%= f.number_field :position_x, label: "X coordinate" %></div>
  <div class="col"><%= f.number_field :position_y, label: "Y coordinate" %></div>
  <div class="col"><%= f.number_field :position_z, label: "Z coordinate" %></div>
  <div class="col"><%= f.text_field :position_crs, label: "CRS" %></div>
</div>


