<div class='nested-fields'>

  <div class="field">
    <%= f.label :id %>
    <%= f.label :id, f.object.id %>
  </div>

  <h3>Measurements</h3>
  <hr>
  <div id='measurements'>
    <%= f.fields_for :measurements do |measurement| %>
      <%= render 'measurements/measurement_fields', :f => measurement %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add measurement', f, :measurements, partial: 'measurements/measurement_fields' %>
    </div>
  </div>

  <%= link_to_remove_association "remove sample", f %>

  <hr>

</div>
