<div class="field">
  <%= f.label :id %>
  <%= f.label :id, f.object.id %>
</div>

<div class="field">
  <b>Measurements</b>
  <div id='measurements'>
    <%= f.fields_for :measurements do |measurement| %>
      <%= render 'measurements/measurement_fields_ass', :f => measurement %>
    <% end %>
    <div class='links'>
      <%= fa_icon "plus" %> <%= link_to_add_association 'add measurement', f, :measurements, partial: 'measurements/measurement_fields_ass' %>
    </div>
  </div>
</div>