<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">
        <%= link_to_order_by "ID", :id %>
        <% if ordered_by?(:id) %>
          <span class="text-muted"><%= order_indicator %></span>
        <% end %>
      </th>
      <th scope="col">
        <%= link_to_order_by "Name", :name %>
        <% if ordered_by?(:name) %>
          <span class="text-muted"><%= order_indicator %></span>
        <% end %>
      </th>
      <th scope="col">
        <%= link_to_order_by "Country code", :country_code %>
        <% if ordered_by?(:country_code) %>
          <span class="text-muted"><%= order_indicator %></span>
        <% end %>
      </th>
      <th scope="col">Coordinates</th>
      <th scope="col" class="text-end">
        <%= link_to_order_by "C14s", :c14s_count %>
        <% if ordered_by?(:c14s_count) %>
          <span class="text-muted"><%= order_indicator %></span>
        <% end %>
      </th>
      <th scope="col" class="text-end">
        <%= link_to_order_by "Typos", :typos_count %>
        <% if ordered_by?(:typos_count) %>
          <span class="text-muted"><%= order_indicator %></span>
        <% end %>
      </th>
      <th scope="col" class="text-end">Wikidata ID</th>
      <th scope="col">Needs LOD</th>
      <% if can?(:manage, Site) %>
        <th scope="col"><span class="visually-hidden">Actions</span></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% sites.each do |site| %>
      <tr>
        <td class="text-muted"><%= site.id %></td>
        <td><%= link_to site.name, site, target: :_top %></td>
        <td><%= site.country_code %></td>
        <td class="font-monospace"><%= site.coordinates.present? ? site.coordinates : na_value %></td>
        <td class="font-monospace text-end"><%= site.c14s_count %></td>
        <td class="font-monospace text-end"><%= site.typos_count %></td>
        <td class="font-monospace text-end">
          <% if site.wikidata_link && site.wikidata_link.status == "approved" %>
            <%= link_to site.wikidata_link.external_id, site.wikidata_link.request_item.url %>
          <% elsif site.wikidata_link && site.wikidata_link.status == "pending" %>
            <i>Suggestion: <%= site.wikidata_link.external_id %>: 
              <%= link_to "#{site.wikidata_link.data['label']} (#{site.wikidata_link.data['description']})", 
                          site.wikidata_link.request_item.url, target: "_blank" %>
            </i>
          <% else %>
            <span class="text-muted">No suggestions</span>
          <% end %>
        </td>
        <td>
          <% site.lods.each do |lod| %>
            <%= lod_badge(lod) %>
          <% end %>
        </td>
 <% if can?(:manage, Site) %>
   <td>
     <div class="btn-toolbar justify-content-end">
       <div class="btn-group me-2">
         <% if site.wikidata_link %>
          <%= bootstrap_form_for site.wikidata_link, url: lod_link_path(site.wikidata_link), method: :patch do |f| %>
             <%= f.hidden_field :linkable_type, value: "Site" %>
             <%= f.hidden_field :linkable_id, value: site.id %>
             <%= f.hidden_field :source, value: "Wikidata" %>

             <% if site.wikidata_link.status == "pending" %>
               <%= f.hidden_field :status, value: "approved" %>
               <%= f.hidden_field :revision_comment, value: "Matched to Wikidata" %>
               <%= f.primary class: "btn btn-sm btn-primary", title: "Use suggested Wikidata match" do %>
                 <%= bs_icon "check-lg" %>
               <% end %>
             <% else %>
               <%= button_tag class: "btn btn-sm btn-primary", disabled: true do %>
                 <%= bs_icon "check-lg" %>
               <% end %>
             <% end %>
           <% end %>
         <% end %>
       </div>
       <%= render "shared/action_buttons_compact", i: site %>
     </div>
   </td>
 <% end %>
      </tr>
    <% end %>
  </tbody>
</table>