<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">
        <%= link_to_order_by "ID", :id %>
        <% if ordered_by?(:id) %>
          <span class="text-muted"><%= order_indicator %></span>
        <% end %>
      </th>
      <th scope="col">
        <%= link_to_order_by "Name", :name %>
        <% if ordered_by?(:name) %>
          <span class="text-muted"><%= order_indicator %></span>
        <% end %>
      </th>
      <th scope="col">
        <%= link_to_order_by "Country code", :country_code %>
        <% if ordered_by?(:country_code) %>
          <span class="text-muted"><%= order_indicator %></span>
        <% end %>
      </th>
      <th scope="col">Coordinates</th>
      <th scope="col" class="text-end">
        <%= link_to_order_by "C14s", :c14s_count %>
        <% if ordered_by?(:c14s_count) %>
          <span class="text-muted"><%= order_indicator %></span>
        <% end %>
      </th>
      <th scope="col" class="text-end">
        <%= link_to_order_by "Typos", :typos_count %>
        <% if ordered_by?(:typos_count) %>
          <span class="text-muted"><%= order_indicator %></span>
        <% end %>
      </th>
      <th scope="col" class="text-end">Wikidata ID</th>
      <th scope="col">Needs LOD</th>
      <% if can? :manage, Site %><th scope="col"><span class="visually-hidden">Actions</span></th><% end %>
    </tr>
  </thead>

  <tbody>
    <% sites.each do |site| %>
      <tr>
        <td class="text-muted"><%= site.id %></td>
        <td><%= link_to site.name, site, target: :_top %></td>
        <td><%= site.country_code %></td>
        <td class="font-monospace"><%= site.coordinates.present? ? site.coordinates : na_value %></td>
        <td class="font-monospace text-end"><%= site.c14s_count %></td>
        <td class="font-monospace text-end"><%= site.typos_count %></td>
        <td class="font-monospace text-end">
			<% if site.wikidata_link %>
			<%= link_to site.wikidata_link.qid, site.wikidata_link.url  %>
			<% elsif site.wikidata_match.present? %>
			  <i>Suggestion: <%=site.wikidata_match.first.qid%>: <%=link_to (site.wikidata_match.first.label + (" (" + site.wikidata_match.first.description + ")")), site.wikidata_match.first.url, target: "_blank" %></i>
			<% end %>
		</td>
        <td><% site.lods.each do |lod| %>
          <%= lod_badge(lod) %>
        <% end %></td>
        <% if can? :manage, Site %>
          <td>
            <div class="btn-toolbar justify-content-end">
                <div class="btn-group me-2">
				  <%= bootstrap_form_for WikidataLink.new, url: wikidata_links_path, method: :post do |f| %>
				    <%= f.hidden_field :wikidata_linkable_type, value: "Site" %>
				    <%= f.hidden_field :wikidata_linkable_id, value: site.id %>
				    <% if site.wikidata_match.present? %>
				      <%= f.hidden_field :qid, value: site.wikidata_match.first.qid %>
				      <%= f.hidden_field :revision_comment, value: "Matched to Wikidata" %>
				      <%= f.primary class: "btn btn-sm btn-primary", title: "Use suggested Wikidata match" do %>
				        <%= bs_icon "check-lg" %>
				      <% end %>
				    <% else %>
				      <%= button_tag class: "btn btn-sm btn-primary", disabled: true do %>
				        <%= bs_icon "check-lg" %>
				      <% end %>
				    <% end %>
				  <% end %>
                </div>
              <%= render "shared/action_buttons_compact", i: site %>
          </td>
        <% end %>
      </tr>
    </tr>
  <% end %>
  </tbody>
</table>
