<% content_for :title, "Issues: Taxons" %>

<div class="container my-5">

  <h1>Taxons</h1>

  <div class="my-3" id="issues-taxon-nav">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="<%= issues_taxons_path %>" 
           class="nav-link <%= active_class(issues_taxons_path) %>"
           <%= active_aria(issues_taxons_path) %>>
           All
           <span class="badge text-bg-info"><%= Taxon.count %></span>
        </a>
      </li>
      <li class="nav-item">
        <% uncontrolled_taxons_path = issues_taxons_path + "/uncontrolled" %>
        <a href="<%= uncontrolled_taxons_path %>" 
           class="nav-link <%= active_class(uncontrolled_taxons_path) %>"
           <%= active_aria(uncontrolled_taxons_path) %>>
           Uncontrolled
           <span class="badge text-bg-info"><%= Taxon.uncontrolled.count %></span>
        </a>
      </li>
    </ul>
  </div>

  <div class="my-3" id="issues-taxon-toolbar">
    <span class="text-muted">Tools:</span>
    <%= link_to "New taxon", new_taxon_path, class: "btn btn-secondary", 
      data: { turbo_frame: "remote_modal" } %>
  </div>

  <turbo-frame id="issues-taxons-table">
    <%=
        case params[:issue]
        when "uncontrolled"
          render "table_uncontrolled", taxons: @taxons 
        else
          render "table", taxons: @taxons
        end
      %>
    <%== pagy_bootstrap_nav(@pagy) %>
  </turbo-frame>

</div>
