<% content_for :title, "New user" %>
<h1>New user</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.text_field :passphrase, 
    autofocus: true, 
    required: true,
    help: "XRONOS is not yet open for public registration. If someone has asked you to register an account, please ask them for the passphrase." %>

  <%= f.email_field :email, 
    required: true,
    autocomplete: "email" %>

  <%= f.password_field :password, 
    required: true,
    help: "#{@minimum_password_length} characters minimum." %>

  <%= f.password_field :password_confirmation, 
    label: "Confirm password", 
    required: true %>

  <%= f.submit "Register", class: "btn btn-primary" %>

<% end %>
