<div class="container">
  <%= render 'shared/action_breadcrumbs', i: @site_type %>
  <%= render 'shared/notice' %>

  <p>
  <strong>Name:</strong>
  <%= @site_type.name %>
  </p>

  <p>
  <strong>Description:</strong>
  <%= @site_type.description %>
  </p>

  <%= render 'shared/action_buttons', i: @site_type %>
</div>
