<%= form_with(model: dendro_measurement, local: true) do |form| %>
  <% if dendro_measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dendro_measurement.errors.count, "error") %> prohibited this dendro_measurement from being saved:</h2>

      <ul>
      <% dendro_measurement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :start_age_deviation %>
    <%= form.number_field :start_age_deviation %>
  </div>

  <div class="field">
    <%= form.label :end_age_deviation %>
    <%= form.number_field :end_age_deviation %>
  </div>

  <div class="field">
    <%= form.label :dating_quality_estimation_category %>
    <%= form.text_field :dating_quality_estimation_category %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
