<%= form_with(model: feature_type, local: true) do |f| %>
  <% if feature_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feature_type.errors.count, "error") %> prohibited this feature_type from being saved:</h2>

      <ul>
      <% feature_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render  'feature_types/feature_type_fields', f: f %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
