<div class="container">
  <%= render 'shared/notice' %>

  <h1>Feature types</h1>

  <table class="responsive nowrap table table-hover align-middle">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @feature_types.each do |feature_type| %>
        <tr>
          <td><%= link_to feature_type.name, feature_type %></td>
          <td><%= feature_type.description %></td>
          <td><%= render 'shared/action_buttons_compact', i: feature_type %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Feature Type', new_feature_type_path, class: 'btn btn-secondary' %>
</div>
