<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feature_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feature_type.description %>
</p>

<%= link_to 'Edit', edit_feature_type_path(@feature_type) %> |
<%= link_to 'Back', feature_types_path %>
