<ul class="nav flex-column text-muted small">
  <h1 class="h5 text-secondary fw-bold">Data curation</h1>

  <a class="nav-link  <%= active_class(curate_path) %>" href="/curate" <%= active_aria(curate_path) %>>Dashboard</a>

  <h3 class="h6 mt-4 text-uppercase">Data entry</h3>
  <a class="nav-link" href="#">Input data</a>
  <a class="nav-link <%= active_class(curate_import_tables_path) %>" href="<%= curate_import_tables_path %>" <%= active_aria(curate_import_tables_path) %>>Import tabular data</a>

  <h3 class="h6 mt-4 text-uppercase">Issues</h3>
  <a class="nav-link" href="/issues/taxons/uncontrolled"><%= issue_badge "UNCONTROLLED_TAXON" %></a>

  <h3 class="h6 mt-4 text-uppercase">Jobs</h3>

  <h3 class="h6 mt-4 text-uppercase">Reports</h3>
  <a class="nav-link" href="#">Recent changes</a>
</ul>
