<ul class="nav flex-column small">
  <h1 class="h5 text-primary fw-bold">Data curation</h1>

  <a class="nav-link  <%= active_class(curate_path) %>" href="/curate" <%= active_aria(curate_path) %>>Dashboard</a>

  <h3 class="h6 mt-4 text-muted text-uppercase">Data entry</h3>
  <a class="nav-link <%= active_class(curate_import_tables_path) %>" href="<%= curate_import_tables_path %>" <%= active_aria(curate_import_tables_path) %>>
    Import tabular data
    <span class="badge bg-warning text-dark text-uppercase">Experimental</span>
  </a>

  <h3 class="h6 mt-4 text-muted text-uppercase">Issues</h3>
  <a class="nav-link" href="/issues/c14s">Radiocarbon dates</a>
  <a class="nav-link" href="/issues/references">References</a>
  <a class="nav-link" href="/issues/samples">Samples</a>
  <a class="nav-link" href="/issues/sites">Sites</a>
  <a class="nav-link" href="/issues/taxons">Taxons</a>

  <h3 class="h6 mt-4 text-muted text-uppercase">Reports</h3>
  <a class="nav-link" href="/curate/recent_changes">Recent changes</a>
</ul>
