<%# Expects section, itemclass, linkclass %>
<% articles = Article.published.where(section: section) %>
<% articles.each do |article| %>
  <li class="<%= itemclass %>">
    <a class="<%= linkclass %>" href="/<%= article.section %>/<%= article.slug %>">
      <%= article.title %>
    </a>
  </li>
<% end %>
