<ul class="nav flex-column">

  <li class="nav-item">
    <a class="nav-link" href="<%= admin_articles_path %>">
      <%= bs_icon "bookmark" %> Articles
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="<%= admin_users_path %>">
      <%= bs_icon "person" %> Users
    </a>
  </li>

  <h2 class="h6 mt-4 text-muted text-uppercase">
    Webmaster tools
    <%= bs_icon "question-circle",
      class: "text-muted",
      data: { bs_toggle: "tooltip", controller: "tooltips" },
      title: "May require external credentials"
    %>
  </h2>

  <li class="nav-item">
    <a class="nav-link" href="https://analytics.xronos.ch" target="_blank">
      <%= bs_icon "bar-chart" %>
      Analytics (umami)
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="https://search.google.com/search-console?resource_id=sc-domain:xronos.ch" target="_blank">
      <%= bs_icon "google" %>
      Search Console
    </a>
  </li>

</ul>
