<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Taxon</th>
      <th scope="col">Suggested match</th>
      <th scope="col">Match type</th>
      <th scope="col" class="text-end">Affected samples</th>
    </tr>
  </thead>

  <tbody>
    <% unknown_taxons.each do |unknown_taxon| %>
      <tr class="table-<%= colour_from_gbif_match_type(unknown_taxon.gbif_match.matchType) %>">
        <td><%= unknown_taxon.name %></td>
        <td><%= render "taxons/gbif_match", gbif_match: unknown_taxon.gbif_match %></td>
        <td><%= unknown_taxon.gbif_match.matchType %></td>
        <td class="text-end"><%= unknown_taxon.samples_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
