<%= form_with(model: species, local: true) do |f| %>
  <% if species.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(species.errors.count, "error") %> prohibited this species from being saved:</h2>

      <ul>
      <% species.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render  'materials/materials_fields', f: f %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
