<%= turbo_frame_tag @wikidata_link do %>
  <dl>

    <div class="row my-2">
      <dt class="col-sm">
        <%= simple_icon "wikidata" %>
        Wikidata
      </dt>
      <dd class="col-sm text-sm-end">
        <%= link_to @wikidata_link.qcode, @wikidata_link.url, title: "#{@wikidata_link.title} - Wikidata" %>
        <% if @wikidata_link.item.present? %>(<%= @wikidata_link.item.label("en") %>)<% end %>
      </dd>
    </div>

    <% item = @wikidata_link.item %>
    <% if item.present? %>

      <% if item.sitelink_url("enwiki").present? %>
        <div class="row my-2">
          <dt class="col-sm">
            <%= simple_icon "wikipedia" %>
            Wikipedia 
          </dt>
          <dd class="col-sm text-sm-end">
            <span class="badge text-bg-info">en</span>
            <%= link_to item.sitelink_title("enwiki"), item.sitelink_url, title: "#{item.sitelink_title} - Wikipedia" %>
          </dd>
        </div>
      <% end %>

      <% if item.sitelink_url("commonswiki").present? %>
        <div class="row my-2">
          <dt class="col-sm">
            <%= simple_icon "wikimediacommons" %>
            Wikimedia Commons
          </dt>
          <dd class="col-sm text-sm-end"><%= link_to item.sitelink_title("commonswiki"), item.sitelink_url("commonswiki"), title: "#{item.sitelink_title('commonswiki')} - Wikimedia Commons" %></dd>
        </div>
      <% end %>

    <% end %>

  </dl>
<% end %>
