<% content_for :title, "Import ##{@import_table.id}" %>

<div class="d-flex">

  <div id="importTablesOptions" class="p-3 bg-light border-end">
    <div class="text-muted mb-3">
      <%= link_to "<< Back to import index", curate_import_tables_path, class: "text-reset" %>
    </div>

    <h2 class="mb-3">Import #<%= @import_table.id %></h2>

    <div class="mb-3 text-muted small">
      <%= render "file_metadata", import_table: @import_table %>
    </div>

    <div class="mb-3">
      <%# if @import_table.imported_at.blank? %>
        <%= link_to "Import", edit_curate_import_table_path(@import_table),
          class: "btn btn-success" %>
        <%= link_to "Edit import options", edit_curate_import_table_path(@import_table),
          class: "btn btn-secondary" %>
      <%# end %>
    </div>

    <div class="mb-3">
      <h3 class="h5">Read options</h3>
      <dl class="text-muted small">
        <% @import_table.read_options.map { |k,v| %>
          <dt><%= k %></dt>
          <dd><%= v %></dd>
        <% } %>
      </dl>
    </div>

    <div class="mb-3">
      <h3 class="h5">Mapping</h3>
    </div>
  </div>

  <section id="importTablesPreview" class="flex-fill p-3 overflow-scroll">
    <%= turbo_frame_tag "preview" do  %>
      <%= render "preview", import_table: @import_table, preview: @preview %>
    <% end %>
  </section>

</div>
