<h2>Change your password</h2>

<div class="mb-3">
  <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, label: "New password", autofocus: true, autocomplete: "new-password" %>

    <%= f.password_field :password_confirmation, label: "Confirm new password", autocomplete: "new-password" %>

    <%= f.submit "Change my password" %>
  <% end %>
</div>

<%= render "devise/shared/links" %>
