<%= form_with(model: culture, local: true) do |form| %>
  <% if culture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(culture.errors.count, "error") %> prohibited this culture from being saved:</h2>

      <ul>
      <% culture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :approx_start_ime %>
    <%= form.number_field :approx_start_ime %>
  </div>

  <div class="field">
    <%= form.label :approx_end_time %>
    <%= form.number_field :approx_end_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
