<p id="notice"><%= notice %></p>

<h1>Cultures</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Approx start ime</th>
      <th>Approx end time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cultures.each do |culture| %>
      <tr>
        <td><%= culture.name %></td>
        <td><%= culture.approx_start_ime %></td>
        <td><%= culture.approx_end_time %></td>
        <td><%= link_to 'Show', culture %></td>
        <td><%= link_to 'Edit', edit_culture_path(culture) %></td>
        <td><%= link_to 'Destroy', culture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Culture', new_culture_path %>
