<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<p><%= link_to 'sites management', controller: 'sites' %></p>
<p><%= link_to 'countries management', controller: 'countries' %></p>
<p><%= link_to 'site_types management', controller: 'site_types' %></p>
<p><%= link_to 'on_site_object_positions management', controller: 'on_site_object_positions' %></p>
<p><%= link_to 'feature_types management', controller: 'feature_types' %></p>
<p><%= link_to 'materials management', controller: 'materials' %></p>
<p><%= link_to 'species management', controller: 'species' %></p>
<p><%= link_to 'references management', controller: 'references' %></p>
<p><%= link_to 'phases management', controller: 'phases' %></p>
<p><%= link_to 'cultures management', controller: 'cultures' %></p>
<p><%= link_to 'arch_objects management', controller: 'arch_objects' %></p>
<p><%= link_to 'samples management', controller: 'samples' %></p>
<p><%= link_to 'labs management', controller: 'labs' %></p>