<h1>Measurements</h1>
<hr>
<table>
	<tr>
		<th>Lab Nr.</th>
		<th>Year</th>
		<th>Site name</th>
		<th>lat</th>
		<th>lng</th>
	</tr>
	<% @selected_measurements.each do |selected_measurements| %>
		<tr>
			<td><%= selected_measurements.measurements_labnr %></td>
			<td><%= selected_measurements.measurements_year %></td>
			<td><%= selected_measurements.site_name %></td>
			<td><%= selected_measurements.site_lat %></td>
			<td><%= selected_measurements.site_lng %></td>
		</tr>
	<% end %>
</table>
