<!-- https://codepen.io/anon/pen/GbRzoL -->
<div class="menu active">

  <button class="nav-tgl" type="button" aria-label="toggle menu">
    <!-- this span just for the three dividers in the hamburger button--><span aria-hidden="true"></span>
  </button>

  <nav class="nav">
		
		<!-- https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_navbar -->
		<ul>
			<li class="dropdown">
				<a href="javascript:void(0)" class="dropbtn">Tables</a>
					<div class="dropdown-content">
            <%= link_to 'c14_measurements', controller: 'c14_measurements' %>
            <%= link_to 'dendro_measurements', controller: 'dendro_measurements' %>
            <%= link_to 'measurements', controller: 'measurements' %>
						<%= link_to 'labs', controller: 'labs' %>
						<%= link_to 'samples', controller: 'samples' %>
						<%= link_to 'labs', controller: 'labs' %>
						<%= link_to 'sites', controller: 'sites' %>
						<%= link_to 'countries', controller: 'countries' %>
						<%= link_to 'site_types', controller: 'site_types' %>
						<%= link_to 'on_site_object_positions', controller: 'on_site_object_positions' %>
						<%= link_to 'feature_types', controller: 'feature_types' %>
						<%= link_to 'materials', controller: 'materials' %>
						<%= link_to 'species', controller: 'species' %>
						<%= link_to 'references', controller: 'references' %>
						<%= link_to 'phases', controller: 'phases' %>
						<%= link_to 'cultures', controller: 'cultures' %>
						<%= link_to 'arch_objects', controller: 'arch_objects' %>
					</div>
			</li>
			<li><a href="#home">API</a></li>
			<li><a href="#home">About</a></li>
			<li><a href="#home">Login</a></li>
		</ul>

		<h1>Measurements</h1>
		<table>
			<tr>
				<th>Lab Nr.</th>
				<th>Year</th>
				<th>Site name</th>
				<th>lat</th>
				<th>lng</th>
			</tr>
			<% @selected_measurements.each do |selected_measurements| %>
				<tr>
					<td><%= selected_measurements.measurements_labnr %></td>
					<td><%= selected_measurements.measurements_year %></td>
					<td><%= selected_measurements.site_name %></td>
					<td><%= selected_measurements.site_lat %></td>
					<td><%= selected_measurements.site_lng %></td>
				</tr>
			<% end %>
		</table>

  </nav>

</div>

<script>
	const menu = document.querySelector(".menu");
	const btn = menu.querySelector(".nav-tgl");
	btn.addEventListener("click", evt => {
		if (menu.className.indexOf("active") === -1) {
			menu.classList.add("active");
		} else {
			menu.classList.remove("active");
		}
	});
</script>

<div id = "controls">

	<div id="controlsheader"><h1>Xronos</h1></div>

	<div id="controlsbody">
		<%= form_tag({controller: "welcome", action: "index"}, method: "get") do %>
  		<%= label_tag(:query_site_name, "Site name:") %>
  		<%= text_field_tag(:query_site_name, (params[:query_site_name] or "")) %>
      <%= label_tag(:query_lat_start, "Lat min:") %>
      <%= number_field_tag(:query_lat_start, (params[:query_lat_start] or ""), in: (-100..100).to_a) %>
      <%= label_tag(:query_lat_stop, "Lat max:") %>
      <%= number_field_tag(:query_lat_stop, (params[:query_lat_stop] or ""), in: (-100..100).to_a) %>
			<br><br>
  		<%= submit_tag("Search") %>
	<% end %>

	</div>

</div>

<%= map(
	:center => {
	  :latlng => [45, 8],
	  :zoom => 3
	},
	:markers => @selected_measurements.all.map {
    |selected_measurements| { 
      latlng: [selected_measurements.site_lat, selected_measurements.site_lng], popup: selected_measurements.site_name 
    } 
  }
) %>

<script>
	//Make the DIV element draggagle:
	dragElement(document.getElementById("controls"));

	function dragElement(elmnt) {
		var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
		if (document.getElementById("controlsheader")) {
		  /* if present, the header is where you move the DIV from:*/
		  document.getElementById("controlsheader").onmousedown = dragMouseDown;
		} else {
		  /* otherwise, move the DIV from anywhere inside the DIV:*/
		  elmnt.onmousedown = dragMouseDown;
		}

		function dragMouseDown(e) {
		  e = e || window.event;
		  e.preventDefault();
		  // get the mouse cursor position at startup:
		  pos3 = e.clientX;
		  pos4 = e.clientY;
		  document.onmouseup = closeDragElement;
		  // call a function whenever the cursor moves:
		  document.onmousemove = elementDrag;
		}

		function elementDrag(e) {
		  e = e || window.event;
		  e.preventDefault();
		  // calculate the new cursor position:
		  pos1 = pos3 - e.clientX;
		  pos2 = pos4 - e.clientY;
		  pos3 = e.clientX;
		  pos4 = e.clientY;
		  // set the element's new position:
		  elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
		  elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
		}

		function closeDragElement() {
		  /* stop moving when mouse button is released:*/
		  document.onmouseup = null;
		  document.onmousemove = null;
		}
	}
</script>
