<%= form_with(model: typochronological_unit, local: true) do |f| %>
  <% if typochronological_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(typochronological_unit.errors.count, "error") %> prohibited this typochronological_unit from being saved:</h2>

      <ul>
      <% typochronological_unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render  'typochronological_units/typochronological_unit_fields', f: f %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
