<div class="container">
  <%= render 'shared/action_breadcrumbs', i: @typochronological_unit %>
  <%= render 'shared/notice' %>

  <p>
  <strong>Name:</strong>
  <%= @typochronological_unit.name %>
  </p>

  <p>
  <strong>Approx start time:</strong>
  <%= @typochronological_unit.approx_start_time %>
  </p>

  <p>
  <strong>Approx end time:</strong>
  <%= @typochronological_unit.approx_end_time %>
  </p>

  <%= render 'shared/action_buttons', i: @typochronological_unit %>
</div>
