<% content_for :head do %>
  <%= javascript_pack_tag 'landing_page' %>
<% end %>

<div class="jumbotron jumbotron-fluid hero mt-0 position-relative hero   py-5">
  <div class="container">
    <div class="row mt-5">
      <div class="col-6 bg-secondary text-white bg-opacity-50 align-items-center">  
        <h2 class="display-5"><b>Open Access Database for absolute chronological archaeological information</b></h2>
        <p><b>XRONOS</b></p>
      </div>
    </div>
  </div>
  <span class="hero_caption position-absolute bottom-0 end-0">Photo by <a href="https://unsplash.com/@sahinsezerdincer?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Şahin Sezer Dinçer</a> on <a href="https://unsplash.com/s/photos/hourglass?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></span>
</div>

<div class="container py-5">
  <div class="row text-muted">
    <div class="col-4" style="transform: rotate(0);">
      <h4> <sup>14</sup>C Data</h4>
      <h3><a href="/map" class="card-link stretched-link text-secondary text-decoration-none"><%= number_with_delimiter(C14Measurement.count)%></a></h3>
    </div>
    <div class="col-4" style="transform: rotate(0);">
      <h4> Sites </h4>
      <h3><a href="/map" class="card-link stretched-link text-secondary text-decoration-none"><%= number_with_delimiter(Site.count)%></a></h3>
    </div>
    <div class="col-4" style="transform: rotate(0);">
      <h4> Databases </h4>
      <h3><a href="/map" class="card-link stretched-link text-secondary text-decoration-none"><%= number_with_delimiter(SourceDatabase.count) %></a></h3>
    </div>
  </div>
  <div class="row pt-5 text-muted">
    <div class="col">
        <h3>Mission</h3>
      <p>
      In the spirit of the Open Science, the XRONOS project aims at developing a worldwide unique and novel database, to compile and manage the two most important forms of absolute chronological information – radiocarbon and dendrochronological data – to enable a multitude of transdisciplinary research projects on population dynamics, human-environmental dependencies and thus fundamental transformations in the past.
      </p>

    </div>
  </div>
  <div class="row pt-5 text-muted">
    <h3>News</h3>

    <%
        xml = HTTParty.get("https://blog.xronos.ch/index.php/feed/").body
    feed = Feedjira.parse(xml)
  %>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% feed.entries.each do |entry| %>
      <% doc = Nokogiri::HTML(entry.content) %>
      <div class="col">
        <div class="card h-100" style="width: 18rem;">
          <%if img = doc.xpath('//img').first %>
            <img src="<%=img.attr('src')%>" class="card-img-top" alt="...">
          <%	end%>
          <div class="card-body">
            <p class="card-text"><%=entry.title%></p>
            <a href="<%=entry.url%>" class="card-link stretched-link">Read More</a>
          </div>
        </div>
      </div>

    <% end %>

  </div>

</div>





