<%= form_with(model: user_profile) do |form| %>
  <% if user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_profile.errors.count, "error") %> prohibited this user_profile from being saved:</h2>

      <ul>
        <% user_profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'user_profiles/user_profile_fields', form: form %>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
