<h1>User Profiles</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_profiles.each do |user_profile| %>
      <tr>
        <td><%= user_profile.first_name %></td>
        <td><%= user_profile.last_name %></td>
        <td><%= user_profile.user.email %></td>
        <td><%= link_to 'Show', user_profile %></td>
        <td><%= link_to 'Edit', edit_user_profile_path(user_profile) %></td>
        <td><%= link_to 'Destroy', user_profile_url(user_profile), method: :delete, data: { turbo_confirm: 'Are you sure?', turbo_method: :delete} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if current_user.admin?%>
  <%= link_to 'New User Profile', new_user_profile_path, class: "btn btn-primary"%>
<%end%>

