<%= form_with(model: source_database, local: true) do |form| %>
  <% if source_database.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(source_database.errors.count, "error") %> prohibited this source_database from being saved:</h2>

      <ul>
      <% source_database.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :citation %>
    <%= form.text_area :citation %>
  </div>

  <div class="field">
    <%= form.label :licence %>
    <%= form.text_field :licence %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
