<div class="container">
  <%= render 'shared/notice' %>

  <h1>Source databases</h1>

  <table class="responsive nowrap table table-hover align-middle" id="dttb-source_databases" data-sort="true" data-source="<%= url_for(format: :json)%>">
    <thead>
      <tr>
        <th data-data="name">Name</th>
        <th data-data="url">Url</th>
        <th data-data="citation">Citation</th>
        <th data-data="licence">Licence</th>
        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @source_databases.each do |source_database| %>
        <tr>
          <td><%= link_to source_database.name, source_database %></td>
          <td><%= source_database.url %></td>
          <td><%= source_database.citation %></td>
          <td><%= source_database.licence %></td>
          <td><%= render 'shared/action_buttons_compact', i: source_database %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

  <%= link_to 'New source database', new_source_database_path, class: 'btn btn-secondary' %>
</div>
