<div class="container">
  <%= render 'shared/action_breadcrumbs', i: @source_database %>
  <%= render 'shared/notice' %>

  <p>
  <strong>Name:</strong>
  <%= @source_database.name %>
  </p>

  <p>
  <strong>Url:</strong>
  <%= @source_database.url %>
  </p>

  <p>
  <strong>Citation:</strong>
  <%= @source_database.citation %>
  </p>

  <p>
  <strong>Licence:</strong>
  <%= @source_database.licence %>
  </p>

  <%= render 'shared/action_buttons', i: @source_database %>
</div>
