<div class="field">
  <%= f.label :bp %>
  <%= f.number_field :bp %>
</div>

<div class="field">
  <%= f.label :std %>
  <%= f.number_field :std %>
</div>

<div class="field">
  <%= f.label :cal_bp %>
  <%= f.number_field :cal_bp %>
</div>

<div class="field">
  <%= f.label :cal_std %>
  <%= f.number_field :cal_std %>
</div>

<div class="field">
  <%= f.label :delta_c13 %>
  <%= f.text_field :delta_c13 %>
</div>

<div class="field">
  <%= f.label :delta_c13_std %>
  <%= f.text_field :delta_c13_std %>
</div>

<div class="field">
  <%= f.label :method %>
  <%= f.text_field :method %>
</div>
