<div class="field_master">

  <div class="field">
    <%= f.label :bp %>
    <%= f.number_field :bp %>
  </div>

  <div class="field">
    <%= f.label :std %>
    <%= f.number_field :std %>
  </div>

  <div class="field">
    <%= f.label :cal_bp %>
    <%= f.number_field :cal_bp %>
  </div>

  <div class="field">
    <%= f.label :cal_std %>
    <%= f.number_field :cal_std %>
  </div>

  <div class="field">
    <%= f.label :delta_c13 %>
    <%= f.text_field :delta_c13 %>
  </div>

  <div class="field">
    <%= f.label :delta_c13_std %>
    <%= f.text_field :delta_c13_std %>
  </div>

  <div class="field">
    <%= f.label :method %>
    <%= f.text_field :method %>
  </div>

  <div class="field_master_top">
    <b><%= f.label :source_database %></b>
  </div>
  <div class="field_master">
    <div class="field">
      <%= f.collection_select :source_database_id, SourceDatabase.all, :id, :name, { include_blank: 'Create new' }, {:class => "observed_select"}  %>
    </div>
    <%= f.fields_for :source_database, :include_id => false do |source_database| %>
      <%= render 'source_databases/source_database_fields', :f => source_database %>
    <% end %>
  </div>

</div>
