<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag "jquery", "highcharts", "modules/exporting" %>
	<style>
	#sortable { list-style-type: none; margin: 0; padding: 0; width: 10%; }
	#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; background: #ffffff}
	#sortable li span { position: absolute; margin-left: -1.3em;}
	</style>

<div id="calib_chart" style="width: 800px; height: 500px;"></div>

<script type="text/javascript" charset="utf-8">

	var chart1; // globally available

	$(document).ready(function() {
	    chart1 = new Highcharts.Chart({
	    exporting:
	    {
	      url: 'https://export.highcharts.com/'
	    },
	    chart: { renderTo: 'calib_chart',
	             defaultSeriesType: 'area',
	             alignTicks: false,
	             shadow: true
	    },
	    tooltip: {
	      enabled: true,
	      formatter: function() {
	        return Highcharts.dateFormat ( '%Y', this.x);
	      }
	    },
	    plotOptions: {
	       area: {
	          marker: {
	             enabled: false,
	             symbol: 'circle',
	             radius: 2,
	             states: {
	                hover: {
	                   enabled: true
	                }
	             }
	          }
	       },
	       line: {
	          marker: {
	             enabled: false,
	             symbol: 'circle',
	             radius: 2,
	             symbol: 'circle',
	             radius: 2,
	             states: {
	                hover: {
	                   enabled: true
	                }
	             }
	          }
	       }
	    },
	    series: [{
	      type: 'area',
	      name: '<%=  Measurement.find_by(c14_measurement_id: c14_measurement.id).labnr.to_s %>',
	      pointInterval: <%= @likelihood_res.to_i.year * 1000 %>,
	      pointStart: <%= @likelihood_start.to_i * 1000 %>,
	      data: [<%=@data.join(", ")%>],
	      color: '#7a90a1'
	    },
	    {
	      type: 'line',
	      name: '1' + String.fromCharCode(963),
	      pointInterval: <%= @likelihood_res.to_i.year * 1000 %>,
	      pointStart: <%= @likelihood_start.to_i * 1000 %>,
	      data: [<%=@one_sigma_range.join(", ")%>],
	      color: '#AA4643'
	    },
	    {
	      type: 'line',
	      name: '2' + String.fromCharCode(963),
	      pointInterval: <%= @likelihood_res.to_i.year * 1000 %>,
	      pointStart: <%= @likelihood_start.to_i * 1000 %>,
	      data: [<%=@two_sigma_range.join(", ")%>],
	      color: '#DB843D'
	    },
	    {
	    type: 'line',
	    yAxis: 1,
	    name: 'Calibration Curve, upper and lower 1-'+ String.fromCharCode(963) + ' band',
	    data: [<%=@calib_upper_out%>],
	    color: '#4572A7'
	    },
	    {
	    type: 'line',
	    yAxis: 1,
	    data: [<%=@calib_lower_out%>],
	    color: '#4572A7',
	    showInLegend: false
	    }
	    ],
	    xAxis: {
	      type: 'datetime',
	      dateTimeLabelFormats: {
	        year: '%Y'
	        },
	      tickPixelInterval: 100,
	      minorTickWidth: 1,
	      minorTickLength: 3,
	      minorGridLineWidth: 0,
	      minorTickColor: '#C0D0E0',
	      title: {
	            text: 'Calibrated dates',
	         }
	    },
	    title: {
	      text: '<%= Measurement.find_by(c14_measurement_id: c14_measurement.id).labnr.to_s %>',
				align: 'right',
	      x: -70
	    },
	    subtitle: {
	      text: '<%=@curve%><br><%= @log.gsub(/\n/, '<br>').html_safe %>',
	      align: 'right',
	      x: -70,
	      style: {
	        fontSize:9
	      }
	    },
	    credits: {
	        text: 'xronos.ch',
	        href: 'https://xronos.ch'
	    },
	    yAxis: [{ // Primary yAxis
	         gridLineWidth: 0,
	         labels: {
	            formatter: function() {
	               return this.value;
	            },
	            style: {
	               color: '#7a90a1'
	            }
	         },
	         title: {
	            text: 'Probability',
	            style: {
	               color: '#7a90a1'
	            }
	         },
	         opposite: true,
	         endOnTick:false,
	         startOnTick:false,
	         minPadding: 0.05,
	         maxPadding: 0.95

	      }, { // Secondary yAxis
	         gridLineWidth: 1,
	         title: {
	            text: 'BP',
	            style: {
	               color: '#4572A7'
	            }
	         },
	         labels: {
	            formatter: function() {
	               return this.value;
	            },
	            style: {
	               color: '#4572A7'
	            },
	         },
	         plotBands: [{
	            from: <%=(c14_measurement.bp + c14_measurement.std).to_s%>,
	            to: <%=(c14_measurement.bp - c14_measurement.std).to_s%>,
	            color: 'rgba(69, 114, 167, 0.2)',
	            label: {
	               text: 'BP 1'+ String.fromCharCode(963),
	               style: {
	                  color: '#606060'
	               }
	            }
	         }],

	         startOnTick: false,
	         endOnTick:false,
	         minPadding: 0.8,
	         maxPadding: 0
	      }]
	  });
	});

</script>
