<%= form_with(model: c14_measurement, local: true) do |f| %>
  <% if c14_measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(c14_measurement.errors.count, "error") %> prohibited this c14_measurement from being saved:</h2>

      <ul>
      <% c14_measurement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render  'c14_measurements/c14_measurement_fields', f: f %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
