<body class="container bg-primary">
<div style="overflow:auto; width:950;">
<%
anzahl=@data.length
dist=@max_data+@max_data*0.2

series=[]
axis=[]
handles=[]

@data.each_with_index do |date,i|
  series[i]="
    {
      id: '#{i}',
      type: 'area',
      name: 'first',
      pointInterval: #{@likelihood_res[i].to_i.year * 1000},
      pointStart: #{@likelihood_start[i].to_i * 1000},
      data: [#{date.join(", ")}],
      color: '#7a90a1',
      yAxis: #{i},
      showInLegend: false,
      dataLabels: {
        align: 'left',
        enabled: true,
        color: '#000000',
        formatter: function() {
          return this.point.name;
        }
      }
    },
    {
      type: 'line',
      name: '1' + String.fromCharCode(963),
      pointInterval: #{@likelihood_res[i].to_i.year * 1000 },
      pointStart: #{@likelihood_start[i].to_i * 1000},
      data: [#{@one_sigma_range[i].join(", ")}],
      color: '#AA4643',
      showInLegend: false,
      yAxis: #{i}
    },
    {
      type: 'line',
      name: '2' + String.fromCharCode(963),
      pointInterval: #{@likelihood_res[i].to_i.year * 1000},
      pointStart: #{@likelihood_start[i].to_i * 1000},
      data: [#{@two_sigma_range[i].join(", ")}],
      color: '#DB843D',
      showInLegend: false,
      yAxis: #{i}
    }
  "
  axis[i]="
  {
         gridLineWidth: 0,
         labels: false,
         title: false,
         endOnTick:false,
         startOnTick:false,
         min:#{(0-dist*i)-dist/10},
         max:#{anzahl*dist-(dist*i)},
         minPadding: 0.05,
         maxPadding: 0.95
      }
  "

  handles[i]="
    <li style='position: relative; cursor: move;' id='#{i}'>#{Measurement.find_by(c14_measurement_id: @c14_measurement.id).labnr.to_s}</li>
  "

end
series_string=series.reverse.join(',').html_safe
axis_string=axis.reverse.join(',').html_safe
handles_string = "
<div style='width: 10%;float:left;'>
<p style='color: #dddddd;'>◀ Use these buttons for export/print</p>
<h5 style='color: #dddddd;'>Sort manually</h5>
<p style='color:#dddddd;'>Drag and drop the buttons below to determine the order of the plot:</p>
<ul id='sortable' style='width:100%;'>" + handles.join('') + '</ul></div>'
%>

<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<%= stylesheet_link_tag 'application' %>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.js" type="text/javascript"></script>
<%= javascript_pack_tag "calibration" %>
<%#= javascript_include_tag "jquery-ui" %>

	<style>
	#sortable { list-style-type: none; margin: 0; padding: 0; width: 10%;}
	#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; background: #ffffff}
	#sortable li span { position: absolute; margin-left: -1.3em;}
	</style>

<div id="calib_chart2" style="width: 800px; height: <%=300+50*anzahl%>px;float:left;"></div>

<script type="text/javascript" charset="utf-8">
$(function() {
        $("#sortable").sortable();
        $("#sortable").disableSelection();
    });

$(function () {
  var multichart = new Highcharts.Chart({
    exporting:
    {
      url: 'https://export.highcharts.com/'
    },
    chart: { renderTo: 'calib_chart2',
             defaultSeriesType: 'area',
             alignTicks: false,
             shadow: true,
             zoomType: 'x'
    },
    tooltip: {
      enabled: true,
      formatter: function() {
        return Highcharts.dateFormat ( '%Y', this.x);
      }
    },
    plotOptions: {
       area: {
          marker: {
             enabled: false,
             symbol: 'circle',
             radius: 2,
             states: {
                hover: {
                   enabled: true
                }
             }
          }
       },
       line: {
          marker: {
             enabled: false,
             symbol: 'circle',
             radius: 2,
             symbol: 'circle',
             radius: 2,
             states: {
                hover: {
                   enabled: true
                }
             }
          }
       }
    },
    series: [<%=series_string%>],
    xAxis: {
      type: 'datetime',
      minorTickInterval: <%=50.years.to_i * 1000%>,
      minorTickWidth: 1,
      minorTickLength: 3,
      minorGridLineWidth: 0,
      minorTickColor: '#C0D0E0',
      gridLineWidth: 1,
      title: {
            text: 'Calibrated dates',
         },
      minPadding:0.1,
      maxPadding:0.1

    },
    title: {
      text: 'Calibration of multiple dates',
      align: 'right',
      x: -70
    },
    subtitle: {
      text: '<%=@curve%>',
      align: 'right',
      x: -70,
      style: {
        fontSize:9
      }
    },
    credits: {
	        text: 'xronos.ch',
	        href: 'https://xronos.ch'
    },
    yAxis: [<%=axis_string%>]
  });

		$( "#sortable" ).sortable({
		  stop: function(event, ui) {
		    var maxdata=<%=dist%>;
		    var order=$( "#sortable" ).sortable('toArray');
		    var counter = <%=anzahl%>-1;
		    var len = order.length;
		    for (var i=0; i< len; i++) {
		      var series = multichart.get(order[i]);
          series.yAxis.setExtremes((0-maxdata*counter)-maxdata/10, <%=anzahl%>*maxdata-maxdata*counter, false);
		      counter = counter - 1;
		    };
		    multichart.redraw();
		  }
		});
		$( "#sortable" ).disableSelection();
	});
	</script>

<%=handles_string.html_safe%>
</div>
</body>
