<div class="container">
  <%= render 'shared/notice' %>

  <h1>C14 measurements</h1>

  <table class="responsive nowrap table table-hover" id="dttb-c14_measurements" data-sort="true" data-source="<%= url_for(format: :json)%>">
    <thead>
      <tr>
        <th data-data="bp">Bp</th>
        <th data-data="std">Std</th>
        <th data-data="cal_bp">Cal bp</th>
        <th data-data="cal_std">Cal std</th>
        <th data-data="delta_c13">Delta c13</th>
        <th data-data="delta_c13_std">Delta c13 std</th>
        <th data-data="method">Method</th>
        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
      </tr>
    </thead>

    <tbody>
      <% @c14_measurements.each do |c14_measurement| %>
        <tr>
          <td><%= c14_measurement.bp %></td>
          <td><%= c14_measurement.std %></td>
          <td><%= c14_measurement.cal_bp %></td>
          <td><%= c14_measurement.cal_std %></td>
          <td><%= c14_measurement.delta_c13 %></td>
          <td><%= c14_measurement.delta_c13_std %></td>
          <td><%= c14_measurement.method %></td>
          <td><%= link_to 'Show', c14_measurement %></td>
          <td><%= link_to 'Edit', edit_c14_measurement_path(c14_measurement) %></td>
          <td><%= link_to 'Destroy', c14_measurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

  <br>

  <%= link_to 'New C14 measurement', new_c14_measurement_path, class: 'btn btn-secondary' %>
</div>
