<p id="notice"><%= notice %></p>

<p>
  <strong>Bp:</strong>
  <%= @c14_measurement.bp %>
</p>

<p>
  <strong>Std:</strong>
  <%= @c14_measurement.std %>
</p>

<p>
  <strong>Cal bp:</strong>
  <%= @c14_measurement.cal_bp %>
</p>

<p>
  <strong>Cal std:</strong>
  <%= @c14_measurement.cal_std %>
</p>

<p>
  <strong>Delta c13:</strong>
  <%= @c14_measurement.delta_c13 %>
</p>

<p>
  <strong>Delta c13 std:</strong>
  <%= @c14_measurement.delta_c13_std %>
</p>

<p>
  <strong>Method:</strong>
  <%= @c14_measurement.method %>
</p>

<%= link_to 'Edit', edit_c14_measurement_path(@c14_measurement) %> |
<%= link_to 'Back', c14_measurements_path %>
