<%= turbo_frame_tag "data_table" do %>
  <table class="table">

    <thead>
      <tr>
        <th><!-- Select --></th>
        <th>Lab ID</th>
        <th>Site</th>
        <th>Material</th>
        <th>Taxon</th>
        <th>Age (BP)</th>
        <th>Age (cal BP)</th>
      </tr>
    </thead>

    <tbody>
      <% @c14_xrons.each do |x| %>
        <tr>
          <td><!-- <%= x.id %> --></td>
          <td><%= x.lab_identifier.present? ? (link_to x.lab_identifier, x, target: :_top) : na_value %></td>
          <td><%= x.site.present? ? (link_to x.site.name, x.site, target: :_top) : na_value %></td>
          <% if x.sample.present? %>
            <td><%= x.sample.material.present? ? x.sample.material.name : na_value %></td>
            <td><%= x.sample.taxon.present? ? x.sample.taxon.name : na_value %></td>
          <% else %>
            <td><%= na_value %></td>
            <td><%= na_value %></td>
          <% end %>
          <td><%= x.bp %>±<%= x.std %></td>
          <td><%= x.calibration.taq %>-<%= x.calibration.tpq %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

  <%== pagy_bootstrap_nav(@c14_pagy) %>
<% end %>

