<% if @data.filters.any? %>
  <span class="<%= @n_data>0 ? "text-success" : "text-danger" %>">
    Showing <%= @n_data %> of <%= @total_data %> records
    (<%= link_to "clear filters", :data %>)
  </span>
<% else %>
  <span class="text-dark">Showing <%= @total_data %> records</span>
<% end %>
