<noscript>
  <div class="form-text mb-3">
    <%= bs_icon "question-circle" %>
    Separate values with a comma (<code>,</code>) to apply multiple filters.
  </div>
</noscript>

<div class="p-3 border rounded bg-white" data-controller="filter-visibility">
  <h5>Data Filters</h5>
  
  <!-- Data Types Filter -->
  <div class="mb-3">
    <% selected_types = Array(params.dig(:filter, :type)) %>
    <div class="d-flex gap-3">
      <div class="form-check">
        <%= check_box_tag 'filter[type][]', 'c14', selected_types.include?('c14'),
              class: 'form-check-input',
              id: 'type_c14',
              data: { "filter-visibility-target": "checkbox" } %>
        <%= label_tag 'type_c14', 'Radiocarbon Data', class: 'form-check-label' %>
      </div>
      <div class="form-check">
        <%= check_box_tag 'filter[type][]', 'dendro', selected_types.include?('dendro'),
              class: 'form-check-input',
              id: 'type_dendro',
              data: { "filter-visibility-target": "checkbox" } %>
        <%= label_tag 'type_dendro', 'Dendro Data', class: 'form-check-label' %>
      </div>
    </div>
  </div>
  
  <!-- Cal BP Filter -->
  <div class="mb-3"
       data-controller="slider"
       data-slider-formatter-value="calBP"
       data-slider-step-value=10
       data-slider-direction-value=rtl
       data-slider-range-value='{ "min": [0, 20], "25%": [2000, 100], "50%": [10000, 250], "75%": [30000, 500], "max": 50000 }'
       data-slider-density-value=2>
    <%= f.fields_for :cals do |f| %>
      <%= f.hidden_field :tpq, data: { slider_target: "minInput" },
            min: 0, max: 50000,
            value: @data.filter_value(:cals, :tpq).present? ? @data.filter_value(:cals, :tpq)[0].min : 0 %>
      <%= f.hidden_field :taq, data: { slider_target: "maxInput" },
            min: 0, max: 50000,
            value: @data.filter_value(:cals, :taq).present? ? @data.filter_value(:cals, :tpq)[0].max : 50000 %>
    <% end %>
    
    <label class="form-label" for="cal_bp_slider">
      Calendar age <span class="text-muted">(cal BP)</span>
    </label>
    <div class="mx-3 my-1" id="cal_bp_slider" data-slider-target="slider"></div>
    
    <noscript data-slider-target="noscript">
      <%# TODO: Switch to range fields if this is fixed:
          https://github.com/bootstrap-ruby/bootstrap_form/issues/677 %>
      <%= f.fields_for :cals do |f| %>
        <%= f.number_field :tpq, label: "Minimum calendar age",
              append: "cal BP",
              min: 0,
              max: 50000,
              value: @data.filter_value(:cals, :tpq).present? ? @data.filter_value(:cals, :tpq)[0].min : 0 %>
        <%= f.number_field :taq, label: "Maximum calendar age",
              append: "cal BP",
              min: 0,
              max: 50000,
              value: @data.filter_value(:cals, :taq).present? ? @data.filter_value(:cals, :tpq)[0].max : 50000 %>
      <% end %>
    </noscript>
  </div>
  
  <%= accordion_item "dataFilters-Site", "Sites", (@data.filters.dig("sites", "name") || @data.filters.dig("site_types", "name")) ? false : true do %>
    <%= f.fields_for :sites do |f| %>
      <%= f.text_field :name, label: "Site names",
            value: @data.filter_value_string(:sites, :name),
            multiple: true,
            data: { 
              controller: "tom-select",
              "tom-select-route-value": "sites/search",
              "tom-select-value-value": "name",
              "tom-select-label-value": "name",
              "tom-select-search-value": "name"
            } %>
    <% end %>
    
    <%= f.fields_for :site_types do |f| %>
      <%= f.text_field :name, label: "Site types",
            value: @data.filter_value_string(:site_types, :name),
            multiple: true,
            data: {
              controller: "tom-select",
              "tom-select-route-value": "site_types/search",
              "tom-select-value-value": "name",
              "tom-select-label-value": "name",
              "tom-select-search-value": "name"
            } %>
    <% end %>
  <% end %>
  
  <%= accordion_item "dataFiltersLocation", "Location", @data.filters.inspect.include?("country_code") ? false : true do %>
    <%= f.fields_for :sites do |f| %>
      <div class="mb-3">
        <%= f.label :country_code, "Countries", class: "form-label" %>
        <%= f.country_select :country_code,
              { selected: @data.filter_value(:sites, :country_code) },
              { class: "form-select", multiple: true, data: { controller: "tom-select" } } %>
      </div>
    <% end %>
  <% end %>
  
  <%= accordion_item "dataFiltersSample", "Sample", (@data.filters.dig("materials", "name") || @data.filters.dig("taxons", "name")) ? false : true do %>
    <%= f.fields_for :materials do |f| %>
      <%= f.text_field :name, label: "Materials",
            value: @data.filter_value_string(:materials, :name),
            multiple: true,
            data: {
              controller: "tom-select",
              "tom-select-route-value": "materials/search",
              "tom-select-value-value": "name",
              "tom-select-label-value": "name",
              "tom-select-search-value": "name"
            } %>
    <% end %>
    
    <%= f.fields_for :taxons do |f| %>
      <%= f.text_field :name, label: "Taxons",
            value: @data.filter_value_string(:taxons, :name),
            multiple: true,
            data: {
              controller: "tom-select",
              "tom-select-route-value": "taxons/search",
              "tom-select-value-value": "name",
              "tom-select-label-value": "name",
              "tom-select-search-value": "name"
            } %>
    <% end %>
  <% end %>
  
  <div data-filter-visibility-target="accordion" data-filter-target="type_c14">
    <% c14s_bp = (@data.filters.dig("c14s", "bp") || [0..50000])[0] %>
    <%= accordion_item "dataFilters-C14", "Radiocarbon",
          (@data.filters.dig("c14_labs") || (c14s_bp.is_a?(Range) && (c14s_bp.begin != 0 || c14s_bp.end != 50000))) ? false : true do %>
      <%= f.fields_for :c14_labs do |f| %>
        <%= f.collection_select :name, C14Lab.all, :name, :name,
              {
                label: "Labs",
                selected: @data.filter_value(:c14_labs, :name),
                include_blank: true
              },
              { multiple: true, data: { controller: "tom-select" } } %>
      <% end %>
      
      <%= f.fields_for :c14s do |f| %>
        <%= f.text_field :lab_identifier, label: "Lab IDs",
              value: @data.filter_value_string(:c14s, :lab_identifier),
              multiple: true,
              data: {
                controller: "tom-select",
                "tom-select-route-value": "c14s/search",
                "tom-select-value-value": "lab_identifier",
                "tom-select-label-value": "lab_identifier",
                "tom-select-search-value": "lab_identifier"
              } %>
        
        <%# TODO: abstract as a helper or FormBuilder extension %>
        <div class="mb-3"
             data-controller="slider"
             data-slider-formatter-value="uncalBP"
             data-slider-step-value=10
             data-slider-direction-value=rtl
             data-slider-range-value='{ "min": [0, 20], "25%": [2000, 100], "50%": [10000, 250], "75%": [30000, 500], "max": 50000 }'
             data-slider-density-value=2>
          <%= f.fields_for :bp do |f| %>
            <%= f.hidden_field nil, data: { slider_target: "minInput" },
                  min: 0, max: 50000,
                  value: @data.filter_value(:c14s, :bp).present? ? @data.filter_value(:c14s, :bp)[0].min : 0 %>
            <%= f.hidden_field nil, data: { slider_target: "maxInput" },
                  min: 0, max: 50000,
                  value: @data.filter_value(:c14s, :bp).present? ? @data.filter_value(:c14s, :bp)[0].max : 50000 %>
          <% end %>
          
          <label class="form-label" for="uncal_bp_slider">
            Radiocarbon age <span class="text-muted">(uncal BP)</span>
          </label>
          <div class="mx-3 my-1" id="uncal_bp_slider" data-slider-target="slider"></div>
          
          <noscript data-slider-target="noscript">
            <%# TODO: Switch to range fields if this is fixed:
                https://github.com/bootstrap-ruby/bootstrap_form/issues/677 %>
            <%= f.fields_for :bp do |f| %>
              <%= f.number_field nil, label: "Minimum radiocarbon age",
                    append: "uncal BP",
                    min: 0,
                    max: 50000,
                    value: @data.filter_value(:c14s, :bp).present? ? @data.filter_value(:c14s, :bp)[0].min : 0 %>
              <%= f.number_field nil, label: "Maximum radiocarbon age",
                    append: "uncal BP",
                    min: 0,
                    max: 50000,
                    value: @data.filter_value(:c14s, :bp).present? ? @data.filter_value(:c14s, :bp)[0].max : 50000 %>
            <% end %>
          </noscript>
        </div>
      <% end %>
    <% end %>
  </div>
  
  <div data-filter-visibility-target="accordion" data-filter-target="type_dendro"
       class="<%= selected_types.include?('dendro') ? '' : 'd-none' %>">
    <%= accordion_item "dataFilters-Dendro", "Dendro", (@data.filters.dig("dendros")) ? false : true do %>
      <%# TODO: Fill with dendro-related filters %>
      <%= f.fields_for :dendros do |f| %>
        <div class="mb-3">
          <div class="d-flex align-items-center">
						<%= tristate_radio_button_group(f, :waney_edge,
						overall_label: "Waney Edge?",
						name: "filter[dendros][waney_edge]",
						current_value: @data.filters.dig("dendros", "waney_edge")
						) %>
          </div>
        </div>
				
        <div class="mb-3">
          <div class="d-flex align-items-center">
						<%= tristate_radio_button_group(f, :is_anchored,
						overall_label: "Is anchored?",
						name: "filter[dendros][is_anchored]",
						current_value: @data.filters.dig("dendros", "is_anchored")
						) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  
  <% if false %>
    <%= accordion_item "dataFilters-Typo", "Typochronology", true do %>
      <%= f.fields_for :typos do |f| %>
        <%= f.text_field :name, label: "Typochronological unit",
              value: @data.filter_value_string(:typos, :name),
              multiple: true,
              data: { 
                controller: "tom-select",
                "tom-select-route-value": "typos/search",
                "tom-select-value-value": "name",
                "tom-select-label-value": "name",
                "tom-select-search-value": "name"
              } %>
      <% end %>
    <% end %>
  
  <%= accordion_item "dataFilters-Reference", "Bibliography", true do %>
    <%= f.fields_for :references do |f| %>
      <%= f.text_field :short_ref, label: "References",
            value: @data.filter_value_string(:references, :short_ref),
            multiple: true,
            data: { 
              controller: "tom-select",
              "tom-select-route-value": "references/search",
              "tom-select-value-value": "short_ref",
              "tom-select-label-value": "short_ref",
              "tom-select-search-value": "short_ref"
            } %>
    <% end %>
  <% end %>
<% end %>
</div>