<div class="d-flex">

  <h1 class="h5 my-0 me-3 px-3 py-2 text-primary fw-bold">
    <%= bs_icon "hourglass-split" %>
    Data browser
  </h1>

  <button class="me-3 btn btn btn-outline-primary"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#dataFilters"
          aria-expanded="true"
          aria-controls="dataFilters">
    <%= bs_icon "filter" %>
    Filters
    <span class="collapse-status-open"><%= bs_icon "chevron-left" %></span>
    <span class="collapse-status-closed"><%= bs_icon "chevron-right" %></span>
  </button>

  <div class="px-3 py-2 text-muted">
    View:
  </div>
  <ul class="me-3 nav nav-pills" role="tablist">
    <li class="nav-item" role="presentation">
      <a id="dataMapTab" 
         class="nav-link active" 
         data-bs-toggle="pill" 
         href="#dataMap"
         role="tab" 
         aria-controls="dataMap"
         aria-selected="true">
        <%= bs_icon "pin-map-fill" %>
        Sites
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a id="dataTableTab" 
         class="nav-link" 
         data-bs-toggle="pill" 
         href="#dataTable"
         role="tab" 
         aria-controls="dataTable"
         aria-selected="false">
        <%= bs_icon "table" %>
        Radiocarbon dates
      </a>
    </li>
  </ul>

  <span class="navbar-text me-3">
    <%= render "filter_status" %>
  </span>

  <ul class="nav">
  <!--
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" 
         id="dataTools"  
         role="button" 
         data-bs-toggle="dropdown" 
         aria-expanded="false" href="#">
        <%= bs_icon "clipboard-data-fill" %>
        Analyse
      </a>
      <ul class="dropdown-menu" aria-labelledby="dataTools">
        <li><a class="dropdown-item" href="#">Calibrate</a></li>
        <li><a class="dropdown-item" href="#">Sum calibrate</a></li>
      </ul>
    </li>
  -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" 
         id="dataDownload"  
         role="button" 
         data-bs-toggle="dropdown" 
         aria-expanded="false" 
         href="#">
        <%= bs_icon "download" %>
        Download
      </a>
      <ul class="dropdown-menu" aria-labelledby="dataDownload" style="padding:0px;">
        <li>
			<div class="d-grid gap-2">
			
			<%= link_to data_path(format: :csv, filter: @raw_filter_params), 
				class: "nav-link", 
				title: "CSV",
				download: "data_#{Date.today}.csv" do %>
					<%=bs_icon("bi bi-filetype-csv")%> CSV
			<% end %>
		</div>
	  </li>
        <li>
			<div class="d-grid gap-2">
			
			<%= link_to data_path(format: :json, filter: @raw_filter_params), 
				class: "nav-link", 
				title: "JSON",
				download: "data_#{Date.today}.json" do %>
					<%=bs_icon("bi bi-filetype-json")%> JSON
			<% end%>
		</div>
	  </li>
      </ul>
    </li>
  </ul>
</div>
