<% if context.blank? %>
  <%= na_value %>
<% else %>
  <span class="badge bg-info"><%= link_to context.site.name, context.site %></span>

  <% if context.name.present? %>
    <%= context.name %>
  <% else %>
    <%= na_value %>
  <% end %>

  <% if context.functional_classifications.any? %>
    <span class="ms-1">
      <% context.functional_classifications.each do |classification| %>
        <span class="badge bg-secondary"
              title="Functional classification: <%= classification.functional_classification_confidence.name %>">
          <%= classification.functional_classification_category.name.humanize %>
          (<%= classification.functional_classification_confidence.name %>)
        </span>
      <% end %>
    </span>
  <% end %>
<% end %>