<div class="container">

  <h1>Site-phases</h1>

  <table class="responsive nowrap table table-hover align-middle" id="dttb-site_phases" data-sort="true" data-source="<%= url_for(format: :json)%>">
    <thead>
      <tr>
        <th data-data="name">Name</th>
        <th data-data="approx_start_time">Approx start time</th>
        <th data-data="approx_end_time">Approx end time</th>
        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @site_phases.each do |site_phase| %>
        <tr>
          <td><%= link_to site_phase.name, site_phase %></td>
          <td><%= site_phase.approx_start_time %></td>
          <td><%= site_phase.approx_end_time %></td>
          <td><%= render 'shared/action_buttons_compact', i: site_phase %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

  <%= link_to 'New site-phase', new_site_phase_path, class: 'btn btn-secondary' %>
</div>
