<%= bootstrap_form_for :filter, method: :get, url: data_path do |f| %>

  <%= f.fields_for :sites do |f| %>

    <%= f.text_field :name, label: "Sites", 
      value: @data.filters.dig(:sites, :name),
      multiple: true,
      data: { 
        controller: "tom-select",
        "tom-select-route-value": "sites",
        "tom-select-value-value": "name",
        "tom-select-label-value": "name",
        "tom-select-search-value": "name"
      } 
    %>

    <div class="mb-3">
      <%= f.label :country_code, "Countries", class: "form-label" %>
      <%= f.country_select :country_code, 
        { selected: @data.filters.dig(:sites, :country_code) },
        { 
          multiple: true,
          data: { controller: "tom-select" }
        }
      %>
    </div>

  <% end %>

  <%= f.fields_for :site_types do |f| %>
    <%= f.text_field :name, label: "Site types", 
      value: @data.filters.dig(:site_types, :name),
      multiple: true,
      data: {
        controller: "tom-select",
        "tom-select-route-value": "site_types",
        "tom-select-value-value": "name",
        "tom-select-label-value": "name",
        "tom-select-search-value": "name"
      }
    %>
  <% end %>

  <%= f.fields_for :materials do |f| %>
    <%= f.text_field :name, label: "Sample materials", 
      value: @data.filters.dig(:materials, :name),
      multiple: true,
      data: {
        controller: "tom-select",
        "tom-select-route-value": "materials",
        "tom-select-value-value": "name",
        "tom-select-label-value": "name",
        "tom-select-search-value": "name"
      }
    %>
  <% end %>

  <%= f.fields_for :taxons do |f| %>
    <%= f.text_field :name, label: "Sample taxa", 
      value: @data.filters.dig(:taxons, :name),
      multiple: true,
      data: {
        controller: "tom-select",
        "tom-select-route-value": "taxons",
        "tom-select-value-value": "name",
        "tom-select-label-value": "name",
        "tom-select-search-value": "name"
      }
    %>
  <% end %>

  <%= f.fields_for :c14_labs do |f| %>
    <%= f.collection_select :name, C14Lab.all, :name, :name,
      {
        label: "Labs",
        selected: @data.filters.dig(:c14_labs, :name),
        include_blank: true,
      },
      { 
        multiple: true,
        data: { controller: "tom-select" }
      }
    %>
  <% end %>

  <%= f.fields_for :c14s do |f| %>

    <%= f.text_field :lab_identifier, label: "Lab IDs", 
      value: @data.filters.dig(:c14s, :lab_identifier),
      multiple: true,
      data: {
        controller: "tom-select",
        "tom-select-route-value": "c14s",
        "tom-select-value-value": "lab_identifier",
        "tom-select-label-value": "lab_identifier",
        "tom-select-search-value": "lab_identifier"
      }
    %>

    <%# f.number_field :bp, label: "Uncalibrated age", append: "uncal BP", 
      value: @data.filters.dig(:sites, :contexts, :samples, :c14s, :bp) %>

    <%# f.number_field :cal_bp, label: "Calibrated age", append: "cal BP", 
      value: @data.filters.dig(:sites, :contexts, :samples, :c14s, :bp) %>

  <% end %>

  <%= f.button "Filter", class: "btn btn-primary" %>
  <%= link_to "Clear filters", data_path, class: "btn btn-danger" %>
<% end %>
