<% if @data.filters.any? %>
  <span class="<%= @data.xrons.any? ? "text-success" : "text-danger" %>">
    Showing <%= @data.xrons.count %> of <%= @data.everything.count %> records
    (<%= link_to "clear filters", :data %>)
  </span>
<% else %>
  <span class="text-dark">Showing <%= @data.everything.count %> records</span>
<% end %>
