<%= turbo_frame_tag "data_table" do %>
  <table id="data-table" class="table" data-controller="table">
    <thead>
      <tr>
        <th style="width: 3%">
          <div class="btn-group me-1" role="group" aria-label="Select options">
            <div class="btn btn-sm btn-outline-light">
              <input type="checkbox" data-table-target="selectAll" id="select-all" class="form-check-input">
            </div>
            <button type="button" class="btn btn-sm btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <ul class="dropdown-menu" aria-labelledby="select-all-dropdown">
              <li><a class="dropdown-item" href="#" data-action="click->table#selectAllPage">All items on this page</a></li>
              <li><a class="dropdown-item" href="#" data-value="all" data-action="click->table#changeSelectMode">All items across all pages</a></li>
            </ul>
          </div>
        </th>
        <th>Lab ID</th>
        <th>Site</th>
        <th>Material</th>
        <th>Taxon</th>
        <th>Age (BP)</th>
        <th>Age (cal BP)</th>
      </tr>
    </thead>
    <tbody>
      <% @xrons.each do |x| %>
        <tr>
          <td><input type="checkbox" class="form-check-input select-checkbox" data-table-target="checkbox" data-action="change->table#toggleCheckbox" data-model-id="<%= x.id %>"></td>
          <td><%= x.lab_identifier.present? ? (link_to x.lab_identifier, x, target: :_top) : na_value %></td>
          <td><%= x.site.present? ? (link_to x.site.name, x.site, target: :_top) : na_value %></td>
          <% if x.sample.present? %>
            <td><%= x.sample.material.present? ? x.sample.material.name : na_value %></td>
            <td><%= x.sample.taxon.present? ? x.sample.taxon.name : na_value %></td>
          <% else %>
            <td><%= na_value %></td>
            <td><%= na_value %></td>
          <% end %>
          <td><%= x.bp %>±<%= x.std %></td>
          <td><%= x.calibration.taq %>-<%= x.calibration.tpq %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%== pagy_bootstrap_nav(@pagy) %>
  
<%= link_to new_calibration_path, class: "btn btn-outline-primary btn-sm", 
      data: { turbo_frame: "remote_modal", controller: "table", action: "click->table#showCalibrationPlot", calibration_id_value: 2 } do
        edit_icon title: "Edit Data"
    end %>
	  
<% end %>