<div class="d-flex">

  <h1 class="h5 my-0 me-3 px-3 py-2 text-primary fw-bold">
    <%= fa_icon "hourglass-half" %>
    Data browser
  </h1>

  <button class="me-3 btn btn btn-outline-primary"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#dataFilters"
          aria-expanded="true"
          aria-controls="dataFilters">
    <%= fa_icon "filter", text: "Filters" %>
    <span class="collapse-status-open"><%= fa_icon "angle-left" %></span>
    <span class="collapse-status-closed"><%= fa_icon "angle-right" %></span>
  </button>

  <div class="px-3 py-2 text-muted">
    View:
  </div>
  <ul class="me-3 nav nav-pills" role="tablist">
    <li class="nav-item" role="presentation">
      <a id="dataMapTab" 
         class="nav-link active" 
         data-bs-toggle="pill" 
         href="#dataMap"
         role="tab" 
         aria-controls="dataMap"
         aria-selected="true">
        <%= fa_icon "map-marker" %>
        Sites
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a id="dataTableTab" 
         class="nav-link" 
         data-bs-toggle="pill" 
         href="#dataTable"
         role="tab" 
         aria-controls="dataTable"
         aria-selected="false">
        <%= fa_icon "table" %>
        Radiocarbon dates
      </a>
    </li>
  </ul>

  <span class="navbar-text me-3">
    <%= render "filter_status" %>
  </span>

  <!--
  <ul class="nav ms-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" 
         id="dataTools"  
         role="button" 
         data-bs-toggle="dropdown" 
         aria-expanded="false" href="#">
        <%= fa_icon "area-chart" %>
        Analyse
      </a>
      <ul class="dropdown-menu" aria-labelledby="dataTools">
        <li><a class="dropdown-item" href="#">Calibrate</a></li>
        <li><a class="dropdown-item" href="#">Sum calibrate</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" 
         id="dataDownload"  
         role="button" 
         data-bs-toggle="dropdown" 
         aria-expanded="false" 
         href="#">
        <%= fa_icon "download" %>
        Download
      </a>
      <ul class="dropdown-menu" aria-labelledby="dataDownload">
        <li><a class="dropdown-item" href="#">CSV</a></li>
        <li><a class="dropdown-item" href="#">XLSX</a></li>
      </ul>
    </li>
  </ul>
  -->
</div>
