<table id="selected_measurements-datatable" class="compact row-border hover" data-source="<%= root_path(format: :json) %>" style="width: 100%">
	<thead>
		<tr>
      <th>edit</th>
			<th>labnr</th>
			<th>year</th>
			<th>site</th>
      <th>site_type</th>
			<th>lat</th>
			<th>lng</th>
      <th>country</th>
      <th>feature</th>
      <th>material</th>
      <th>species</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<hr>

<%= link_to 'Add new sample', new_arch_object_path %>

<hr>

<!-- #### Links to models #### -->
<%= link_to 'c14_measurements', controller: '/c14_measurements', :action => :index %>
<%= link_to 'dendro_measurements', controller: '/dendro_measurements', :action => :index %>
<%= link_to 'measurements', controller: '/measurements', :action => :index %>
<%= link_to 'labs', controller: '/labs', :action => :index %>
<%= link_to 'samples', controller: '/samples', :action => :index %>
<%= link_to 'labs', controller: '/labs', :action => :index %>
<%= link_to 'sites', controller: '/sites', :action => :index %>
<%= link_to 'countries', controller: '/countries', :action => :index %>
<%= link_to 'site_types', controller: '/site_types', :action => :index %>
<%= link_to 'on_site_object_positions', controller: '/on_site_object_positions', :action => :index %>
<%= link_to 'feature_types', controller: '/feature_types', :action => :index %>
<%= link_to 'materials', controller: '/materials', :action => :index %>
<%= link_to 'species', controller: '/species', :action => :index %>
<%= link_to 'references', controller: '/references', :action => :index %>
<%= link_to 'phases', controller: '/phases', :action => :index %>
<%= link_to 'cultures', controller: '/cultures', :action => :index %>
<%= link_to 'arch_objects', controller: '/arch_objects', :action => :index %>

