<div class="container">
  <%= render 'shared/action_breadcrumbs', i: @period %>
  <%= render 'shared/notice' %>

  <p>
  <strong>Name:</strong>
  <%= @period.name %>
  </p>

  <p>
  <strong>Approx start time:</strong>
  <%= @period.approx_start_time %>
  </p>

  <p>
  <strong>Approx end time:</strong>
  <%= @period.approx_end_time %>
  </p>

  <%= render 'shared/action_buttons', i: @period %>
</div>
