<% content_for :title, "Search" %>
<% content_for :meta_description, "Search the XRONOS database by archaeological site name, radiocarbon laboratory identifier, or bibliographic reference." %>

<div class="container my-5">
  <h1 class="display-5">Search</h1>

  <%= render "form" %>

  <h2>Results</h2>

  <div class="row g-3 row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">
    <% @results.each do |result| %>
      <div class="col">
        <%= render result.searchable %>
      </div>
    <% end %>
  </div>

  <div class="d-flex mt-3">
    <p class="flex-grow-1">
      Showing <%= @results.count %> of <%= @pagy.count %> results.
    </p>

    <% unless @pagy.pages == 1 %>
      <%== pagy_bootstrap_nav(@pagy) %>
    <% end %>
  </div>

</div>
