<%= form_with(model: measurement, local: true) do |f| %>
  <% if measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(measurement.errors.count, "error") %> prohibited this measurement from being saved:</h2>

      <ul>
      <% measurement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id='measurements'>
    <%= f.fields_for :measurements do |measurement| %>
      <%= render 'measurements/measurement_fields', :f => measurement %>
    <% end %>
  </div>

<% end %>
