<div class="field_master">

  <div class="field">
    <%= f.label :year %>
    <%= f.number_field :year %>
  </div>

  <div class="field">
    <%= f.label :labnr %>
    <%= f.text_field :labnr %>
  </div>

  <div class="field_master_top">
    <b><%= f.label :c14_measurement %></b>
  </div>
  <div class="field_master">
    <%= f.fields_for :c14_measurement, C14Measurement.new do |c14_measurement| %>
      <%= render 'c14_measurements/c14_measurement_fields', :f => c14_measurement %>
    <% end %>
  </div>

  <div class="field_master_top">
    <b><%= f.label :lab %></b>
  </div>
  <div class="field_master">
    <div class="field">
      <%= f.collection_select :lab_id, Lab.all, :id, :name, { include_blank: 'Create new' }, {:class => "observed_select"}  %>
    </div>
    <%= f.fields_for :lab, Lab.new do |lab| %>
      <%= render 'labs/lab_fields', :f => lab %>
    <% end %>
  </div>

  <div class="field_master_top">
    <b><%= f.label :references_measurements %></b>
  </div>
  <div class="field_master">
    <% f.fields_for :references_measurements do |references_measurement| %>
      <div class="field">
        <%= references_measurement.label :page %>
        <%= references_measurement.text_field :page %>
      </div>
      <div class="field">
        <%= references_measurement.fields_for :references do |reference| %>
          <%= render 'references/reference_fields_ass', :f => reference %>
        <% end %>
        <div class='links'>
          <%= fa_icon "plus" %> <%= link_to_add_association 'add reference', f, :references, partial: 'references/reference_fields_ass' %>
        </div>
      </div>
    <% end %>
  </div>

</div>
