<% disabled ||= false  
#We do this so if disabled is not passed to the partial it doesn't crash. 
# We default it to false 
%>

<div class="row g-3">
  <div class="col-md-6">
    <%= f.label :labnr, "Lab-Nr.", class: "form-label" %>
    <%= f.text_field :labnr, class: "form-control", disabled: disabled %>

    <%= f.label :measurement_state, class: "form-label" %>
    <div>
      <%= f.collection_select :measurement_state_id, MeasurementState.all, :id, :name, { include_blank: 'Create new' }, {:class => "observed_select form-select", disabled: disabled}  %>
    </div>
    <%= f.fields_for :measurement_state, :include_id => false do |measurement_state| %>
      <%= render 'measurement_states/measurement_state_fields', :f => measurement_state %>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= f.fields_for :lab, :include_id => false do |lab| %>
      <%= render 'labs/lab_fields', :f => lab, disabled: disabled %>
    <% end %>
  </div>
</div>

<% if f.object.type == "<sup>14</sup>C Measurement"%>
  <div class="col-md-12 mt-3">
    <div class="card">
      <div class="card-header">
        <%= f.label :c14_measurement, f.object.type %>
      </div>
      <div class="card-body">
        <%= f.fields_for :c14_measurement, f.object.c14_measurement || C14Measurement.new do |c14_measurement| %>
          <%= render 'c14_measurements/c14_measurement_fields', :f => c14_measurement, disabled: disabled %>
        <% end %>
      </div>
    </div>
  </div>
<%end%>

  <div class="col-md-12 mt-3">
    <div class="card">
      <div class="card-header">
        <%= f.label :sample %>
      </div>
      <div class="card-body">
        <%= f.fields_for :sample, f.object.sample || Sample.new do |sample| %>
            <div class="card">
      <div class="card-header">
        <%= f.label :arch_object %>
      </div>
      <div class="card-body">
		  <%= f.fields_for :arch_object, sample.object.arch_object || ArchObject.new do |arch_object| %>
            <%= render 'arch_objects/arch_object_bt_fields', :f => arch_object, disabled: disabled %>
		  <% end %>
		        </div>
    </div>
        <% end %>
      </div>
    </div>
  </div>
  
<%unless f.object.references.count == 0%>
  <div class="col-md-12 my-3">
    <b><%= f.label :references %></b>
  </div>
<%end%>
<%= f.fields_for :references do |reference| %>
  <%= render 'references/reference_fields_ass', :f => reference, disabled: disabled %>
<% end %>
<% unless disabled %>
  <div class='links py-3'>
    <%= fa_icon "plus" %> <%= link_to_add_association 'Add reference', f, :references, partial: 'references/reference_fields_ass'%>
  </div>
<% end %>

</div>






