<div class="field">
  <%= f.label :year %>
  <%= f.number_field :year %>
</div>

<div class="field">
  <%= f.label :labnr %>
  <%= f.text_field :labnr %>
</div>

<div class="field_master_top">
  <b><%= f.label :site_phase %></b>
</div>
<div class="field_master">
  <div class="field">
    <%= f.collection_select :c14_measurement_id, C14Measurement.all, :id, :id, { include_blank: 'Create new' }, {:class => "observed_select"} %>
  </div>
  <div class="field">
    <div id='c14_measurement'>
      <%= f.fields_for :c14_measurement, C14Measurement.new do |c14_measurement| %>
        <%= render 'c14_measurements/c14_measurement_fields', :f => c14_measurement %>
      <% end %>
    </div>
  </div>
</div>

<div class="field">
  <b><%= f.label :lab %></b>
  <div class="field">
    <%= f.collection_select :lab_id, Lab.all, :id, :name, { include_blank: 'Create new' } %>
  </div>
  <div class="field">
    <%= f.fields_for :lab, f.object.lab || Lab.new do |lab_fields| %>
      <%= lab_fields.label :name %>
      <%= lab_fields.text_field :name %>
      <%= lab_fields.label :active %>
      <%= lab_fields.check_box :active %>
    <% end %>
  </div>
</div>
