<div class="container">
  <%= render 'shared/notice' %>

  <h1>Measurements</h1>

  <table class="responsive nowrap table table-hover align-middle">
    <thead>
      <tr>
        <th>Labnr</th>
        <th>Sample</th>
        <th>Lab</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @measurements.each do |measurement| %>
        <tr>
          <td><%= link_to measurement.labnr, i: measurement %></td>
          <td><%= measurement.sample %></td>
          <td><%= measurement.lab %></td>
          <td><%= render 'shared/action_buttons_compact', i: measurement %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New measurement', new_measurement_path, class: 'btn btn-secondary' %>
</div>
