<p id="notice"><%= notice %></p>

<p>
  <strong>Labnr:</strong>
  <%= @measurement.labnr %>
</p>

<p>
  <strong>Sample:</strong>
  <%= @measurement.sample %>
</p>

<p>
  <strong>Lab:</strong>
  <%= @measurement.lab %>
</p>

<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>
