<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @measurement_state.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @measurement_state.description %>
</p>

<%= link_to 'Edit', edit_measurement_state_path(@measurement_state) %> |
<%= link_to 'Back', measurement_states_path %>
