<%= form_with(model: reference, local: true) do |f| %>
  <% if reference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reference.errors.count, "error") %> prohibited this reference from being saved:</h2>

      <ul>
      <% reference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render  'references/reference_fields', f: f %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
