<article class="card">

  <div class="card-header">
    <%= xr_icon Reference, {}, { class: "img-fluid", style: "width: auto; height: 1.1rem;" } %>
    <%= Reference.label.humanize %>
  </div>

  <div class="card-body">
    <h1 class="card-title h4">
      <%= link_to reference.short_ref, reference %>
    </h1>

    <% unless reference.bibtex.blank? %>
      <p class="card-text text-sm">
        <small><%= reference.render %></small>
      </p>
    <% end %>
  </div>

  <div class="card-footer">
    <%= link_to reference_path(reference, anchor: "reference-citations"), 
      class: "card-link fw-semibold",
      title: Citation.label.humanize.pluralize do %>
      <%= xr_icon Citation, {}, { style: "width: auto; height: 1.1rem;" } %>
      <%= reference.citations.count %>
    <% end %>
  </div>

</article>
