<% content_for :title, Reference.label.humanize.pluralize %>
<% content_for :meta_description do %>List of bibliographic references associated with archaeological sites, radiocarbon dates, and other chronometric information in the XRONOS repository.<% end %>

<div class="container my-5">

  <h1>References</h1>
  <p>Showing <%= @pagy.count %> <%= Reference.label.pluralize(@pagy.count) %>.</p>

  <turbo-frame id="references-table">
    <div id="references-toolbar" class="d-flex">
      <div class="ms-auto">
        <%= link_to bs_icon("download"), references_path(format: :csv, **request.query_parameters), class: "btn btn-sm btn-outline-primary", title: "Download CSV" %>
      </div>
    </div>
    <table class="responsive nowrap table table-hover align-middle">
      <thead>
        <tr>
          <th scope="col">
            <%= link_to_order_by "Label", :short_ref %>
            <% if ordered_by?(:short_ref) %>
              <span class="text-muted"><%= order_indicator %></span>
            <% end %>
          </th>
          <th scope="col">Reference</th>
          <th scope="col">
            <%= link_to_order_by "Citations", :citations_count %>
            <% if ordered_by?(:citations_count) %>
              <span class="text-muted"><%= order_indicator %></span>
            <% end %>
          </th>
          <% if can? :manage, Reference %><th><!--Actions--></th><% end %>
        </tr>
      </thead>

      <tbody>
        <% @references.each do |reference| %>
          <tr>
            <td><%= link_to reference.short_ref, reference, target: :_top %></td>
            <td><%= reference.render %></td>
            <td><%= reference.citations_count %></td>
            <% if can? :manage, Reference %><td class="text-end"><%= render 'shared/action_buttons_compact', i: reference %></td><% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%== pagy_bootstrap_nav(@pagy) %>
  </turbo-frame>

  <% if can? :create, Reference %>
    <%= link_to 'New reference', new_reference_path, class: 'btn btn-secondary',
      data: { "turbo_frame": "remote_modal" } %>
  <% end %>
</div>
