<div class="container">
  <%= render 'shared/notice' %>

  <h1>References</h1>

  <table class="responsive nowrap table table-hover align-middle">
    <thead>
      <tr>
        <th>Label</th>
        <th>BibTeX</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @references.each do |reference| %>
        <tr>
          <td><%= link_to reference.short_ref, reference %></td>
          <td><%= reference.bibtex %></td>
          <td><%= render 'shared/action_buttons_compact', i: reference %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New reference', new_reference_path, class: 'btn btn-secondary' %>
</div>
