<% content_for :title, @reference.render_citation %>

<header id="reference-header" class="bg-light text-primary">
  <div class="container my-5">
    <h1 class="display-1"><%= @reference.render_citation %></h1>
    <h2 class="display-6">
      <%= xr_icon Reference, {}, style: "height: 2.5rem;" %>
      <%= Reference.label.humanize %>
    </h2>
  </div>
</header>

<section id="reference-details" class="bg-body">
  <div class="container my-5">
    <%= render "bibliography", references: [@reference] %>
  </div>
</section>

<section id="reference-citations" class="bg-body">
  <div class="container my-5">
    <h2>Citing records</h2>
    <% c = @reference.citations.count %>
    <p>There <%= c > 1 ? 'are' : 'is' %> <%= c %> <%= 'record'.pluralize(c) %>
        in XRONOS that <%= c > 1 ? 'cite' : 'cites' %> this reference.</p>

    <% unless @sites.blank? %>
      <div class="my-5">
        <h3>
          <%= xr_icon Site, {}, style: "height: 1.75rem; vertical-align: top;" %>
          <%= Site.label.humanize.pluralize %>
          <small class="text-muted">(<%= @pagy_sites.count %>)</small>
        </h3>
        <turbo-frame id="reference-sites-table">
          <ul>
            <% @sites.each do |site| %>
              <li><%= link_to site.name, site %>, <%= render "sites/country", site: site %></li>
            <% end %>
          </ul>
          <% unless @pagy_sites.pages <= 1 %>
            <%== pagy_bootstrap_nav(@pagy_sites) %>
          <% end %>
        </turbo-frame>
      </div>
    <% end %>

    <% unless @c14s.blank? %>
      <div class="my-5">
        <h3>
          <%= xr_icon C14, {}, style: "height: 1.75rem; vertical-align: top;" %>
          <%= C14.label.humanize.pluralize %>
          <small class="text-muted">(<%= @pagy_c14s.count %>)</small>
        </h3>
        <turbo-frame id="reference-c14s-table">
          <%= render "c14s/table", c14s: @c14s %>
          <% unless @pagy_c14s.pages <= 1 %>
            <%== pagy_bootstrap_nav(@pagy_c14s) %>
          <% end %>
        </turbo-frame>
      </div>
    <% end %>

    <% unless @typos.blank? %>
      <div class="my-5">
        <h3>
          <%= xr_icon Typo, {}, style: "height: 1.75rem; vertical-align: top;" %>
          <%= Typo.label.humanize.pluralize %>
          <small class="text-muted">(<%= @pagy_typos.count %>)</small>
        </h3>
        <turbo-frame id="reference-typos-table">
          <%= render "typos/table", typos: @typos %>
          <% unless @pagy_c14s.pages <= 1 %>
            <%== pagy_bootstrap_nav(@pagy_typos) %>
          <% end %>
        </turbo-frame>
      </div>
    <% end %>
  </div>
</section>

<section id="xronos-metadata" class="bg-light">
  <div class="container my-5">
    <h2>Metadata</h2>
    <%= render "shared/record_metadata", record: @reference, record_label: "reference" %>
  </div>

  <div class="container my-5">
    <h2>Changelog</h2>
    <%= render "application/paper_trail/versions", item: @reference %>
  </div>
</section>
