<%= f.text_field :name %>

<%= f.number_field :start_time %>
<%= f.number_field :end_time %>

<div class="field_master_top">
  <b><%= f.label :references %></b>
</div>
<div class="field_master">
  <%= f.fields_for :references do |reference| %>
    <%= render 'references/reference_fields_ass', :f => reference %>
  <% end %>
  <div class='links'>
    <%= fa_icon "plus" %> <%= link_to_add_association 'add reference', f, :references, partial: 'references/reference_fields_ass' %>
  </div>
</div>
