<div class="field_master">

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.number_field :start_time %>
  </div>

  <div class="field">
    <%= f.label :end_time %>
    <%= f.number_field :end_time %>
  </div>

</div>
