<%= f.text_control :name %>

<%= f.number_control :start_time %>
<%= f.number_control :end_time %>

<h2>References</h2>
<%= 
  f.fields_for :references do |reference|
      render 'references/reference_fields_embedded', :f => reference
  end
%>
<div class="mb-3">
<%= 
  link_to_add_association(f, :references, partial: 'references/reference_fields_embedded', class: 'btn btn-success', ) do
    fa_icon 'plus', title: 'Add reference'
  end
%>
</div>
