<%= form_with(model: fell_phase, local: true) do |f| %>
  <% if fell_phase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fell_phase.errors.count, "error") %> prohibited this fell_phase from being saved:</h2>

      <ul>
      <% fell_phase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render  'fell_phases/fell_phase_fields', f: f %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
