<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fell_phase.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @fell_phase.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @fell_phase.end_time %>
</p>

<p>
  <strong>Site:</strong>
  <%= @fell_phase.site_id %>
</p>

<%= link_to 'Edit', edit_fell_phase_path(@fell_phase) %> |
<%= link_to 'Back', fell_phases_path %>
