<div class="container">
  <%= render 'shared/action_breadcrumbs', i: @fell_phase %>
  <%= render 'shared/notice' %>

  <p>
  <strong>Name:</strong>
  <%= @fell_phase.name %>
  </p>

  <p>
  <strong>Start time:</strong>
  <%= @fell_phase.start_time %>
  </p>

  <p>
  <strong>End time:</strong>
  <%= @fell_phase.end_time %>
  </p>

  <p>
  <strong>Site:</strong>
  <%= @fell_phase.site_id %>
  </p>

  <%= render 'shared/action_buttons', i: @fell_phase %>
</div>
