<%= form_with(model: site_phase, local: true) do |f| %>
  <% if site_phase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site_phase.errors.count, "error") %> prohibited this site_phase from being saved:</h2>

      <ul>
      <% site_phase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'site_phases/site_phase_fields', f: f %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
