<div class="container">
  <%= render 'shared/action_breadcrumbs', i: @site_phase %>
  <%= render 'shared/notice' %>

  <p>
  <strong>Name:</strong>
  <%= @site_phase.name %>
  </p>

  <p>
  <strong>Approx start time:</strong>
  <%= @site_phase.approx_start_time %>
  </p>

  <p>
  <strong>Approx end time:</strong>
  <%= @site_phase.approx_end_time %>
  </p>

  <%= render 'shared/action_buttons', i: @site_phase %>
</div>
