<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @site_phase.name %>
</p>

<p>
  <strong>Approx start time:</strong>
  <%= @site_phase.approx_start_time %>
</p>

<p>
  <strong>Approx end time:</strong>
  <%= @site_phase.approx_end_time %>
</p>

<%= link_to 'Edit', edit_site_phase_path(@site_phase) %> |
<%= link_to 'Back', site_phases_path %>
