<li class="<%= itemclass %>"><a class="<%= linkclass %>" href="/about">What is XRONOS?</a></li>
<li class="<%= itemclass %>"><a class="<%= linkclass %>" href="/about/acknowledgements">Acknowledgements</a></li>
<li class="<%= itemclass %>"><a class="<%= linkclass %>" href="/about/research">Research</a></li>
<li class="<%= itemclass %>"><a class="<%= linkclass %>" href="/about/disclaimer">Disclaimer</a></li>
<li class="<%= itemclass %>"><a class="<%= linkclass %>" href="/about/contact">Contact us</a></li>
