<%= form_with(model: on_site_object_position, local: true) do |form| %>
  <% if on_site_object_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(on_site_object_position.errors.count, "error") %> prohibited this on_site_object_position from being saved:</h2>

      <ul>
      <% on_site_object_position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :feature %>
    <%= form.text_field :feature %>
  </div>

	<div class="field">
    <%= form.label :feature_type %>
    <%= form.collection_select :feature_type_id, FeatureType.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :site_grid_square %>
    <%= form.text_field :site_grid_square %>
  </div>

  <div class="field">
    <%= form.label :coord_reference_system %>
    <%= form.text_field :coord_reference_system %>
  </div>

  <div class="field">
    <%= form.label :coord_X %>
    <%= form.text_field :coord_X %>
  </div>

  <div class="field">
    <%= form.label :coord_Y %>
    <%= form.text_field :coord_Y %>
  </div>

  <div class="field">
    <%= form.label :coord_Z %>
    <%= form.text_field :coord_Z %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
