<div class="container">
  <%= render 'shared/notice' %>

  <h1>On-site object positions</h1>

  <table class="responsive nowrap table table-hover align-middle">
    <thead>
      <tr>
        <th>Feature</th>
        <th>Site grid square</th>
        <th>Coord reference system</th>
        <th>Coord x</th>
        <th>Coord y</th>
        <th>Coord z</th>
        <th colspan=2>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @on_site_object_positions.each do |on_site_object_position| %>
        <tr>
          <td><%= on_site_object_position.feature %></td>
          <td><%= on_site_object_position.site_grid_square %></td>
          <td><%= on_site_object_position.coord_reference_system %></td>
          <td><%= on_site_object_position.coord_X %></td>
          <td><%= on_site_object_position.coord_Y %></td>
          <td><%= on_site_object_position.coord_Z %></td>
          <td><%= link_to 'Show', on_site_object_position %></td>
          <td><%= render 'shared/action_buttons_compact', i: on_site_object_position %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New on-site object position', new_on_site_object_position_path, class: 'btn btn-secondary' %>
</div>
