<div class="container">
  <%# render 'shared/action_breadcrumbs', i: @on_site_object_position %>
  <%= render 'shared/notice' %>

  <p>
  <strong>Feature:</strong>
  <%= @on_site_object_position.feature %>
  </p>

  <p>
  <strong>Site grid square:</strong>
  <%= @on_site_object_position.site_grid_square %>
  </p>

  <p>
  <strong>Coord reference system:</strong>
  <%= @on_site_object_position.coord_reference_system %>
  </p>

  <p>
  <strong>Coord x:</strong>
  <%= @on_site_object_position.coord_X %>
  </p>

  <p>
  <strong>Coord y:</strong>
  <%= @on_site_object_position.coord_Y %>
  </p>

  <p>
  <strong>Coord z:</strong>
  <%= @on_site_object_position.coord_Z %>
  </p>

  <%= render 'shared/action_buttons', i: @on_site_object_position %>
</div>
