<p id="notice"><%= notice %></p>

<h1>Dedro Measurements</h1>

<table>
  <thead>
    <tr>
      <th>Age</th>
      <th>Start age deviation</th>
      <th>End age deviation</th>
      <th>Dating quality estimation category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dedro_measurements.each do |dedro_measurement| %>
      <tr>
        <td><%= dedro_measurement.age %></td>
        <td><%= dedro_measurement.start_age_deviation %></td>
        <td><%= dedro_measurement.end_age_deviation %></td>
        <td><%= dedro_measurement.dating_quality_estimation_category %></td>
        <td><%= link_to 'Show', dedro_measurement %></td>
        <td><%= link_to 'Edit', edit_dedro_measurement_path(dedro_measurement) %></td>
        <td><%= link_to 'Destroy', dedro_measurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dedro Measurement', new_dedro_measurement_path %>
