<p id="notice"><%= notice %></p>

<p>
  <strong>Age:</strong>
  <%= @dedro_measurement.age %>
</p>

<p>
  <strong>Start age deviation:</strong>
  <%= @dedro_measurement.start_age_deviation %>
</p>

<p>
  <strong>End age deviation:</strong>
  <%= @dedro_measurement.end_age_deviation %>
</p>

<p>
  <strong>Dating quality estimation category:</strong>
  <%= @dedro_measurement.dating_quality_estimation_category %>
</p>

<%= link_to 'Edit', edit_dedro_measurement_path(@dedro_measurement) %> |
<%= link_to 'Back', dedro_measurements_path %>
