<p id="notice"><%= notice %></p>

<h1>Phases</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Approx start ime</th>
      <th>Approx end time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phases.each do |phase| %>
      <tr>
        <td><%= phase.name %></td>
        <td><%= phase.approx_start_ime %></td>
        <td><%= phase.approx_end_time %></td>
        <td><%= link_to 'Show', phase %></td>
        <td><%= link_to 'Edit', edit_phase_path(phase) %></td>
        <td><%= link_to 'Destroy', phase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phase', new_phase_path %>
