<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @phase.name %>
</p>

<p>
  <strong>Approx start ime:</strong>
  <%= @phase.approx_start_ime %>
</p>

<p>
  <strong>Approx end time:</strong>
  <%= @phase.approx_end_time %>
</p>

<%= link_to 'Edit', edit_phase_path(@phase) %> |
<%= link_to 'Back', phases_path %>
