<dl>

  <div class="row my-2">
    <dt class="col-sm">
      <%= simple_icon "wikidata" %>
      Wikidata
    </dt>
    <dd class="col-sm text-sm-end"><%= link_to site.wikidata_item.qcode, site.wikidata_item.url, title: "#{site.wikidata_item.label} - Wikidata" %> (<%= site.wikidata_item.label %>)</dd>
  </div>

  <% if site.wikidata_item.sitelink_url("enwiki").present? %>
    <div class="row my-2">
      <dt class="col-sm">
        <%= simple_icon "wikipedia" %>
        Wikipedia 
      </dt>
      <dd class="col-sm text-sm-end">
        <span class="badge text-bg-info">en</span>
        <%= link_to site.wikidata_item.sitelink_title("enwiki"), site.wikidata_item.sitelink_url, title: "#{site.wikidata_item.sitelink_title} - Wikipedia" %>
      </dd>
    </div>
  <% end %>

  <% if site.wikidata_item.sitelink_url("commonswiki").present? %>
    <div class="row my-2">
      <dt class="col-sm">
        <%= simple_icon "wikimediacommons" %>
        Wikimedia Commons
      </dt>
      <dd class="col-sm text-sm-end"><%= link_to site.wikidata_item.sitelink_title("commonswiki"), site.wikidata_item.sitelink_url("commonswiki"), title: "#{site.wikidata_item.sitelink_title('commonswiki')} - Wikimedia Commons" %></dd>
    </div>
  <% end %>

</dl>
