<%= f.text_field :name %>

<div class="row">
  <div class="col"><%= f.number_field :lat, label: 'Latitude', append: '°N',
    help: '<a href="https://www.fcc.gov/media/radio/dms-decimal" target="_blank">Convert DMS to decimal degrees</a>.'.html_safe %></div>
  <div class="col"><%= f.number_field :lng, label: 'Longitude', append: '°E' %></div>
</div>

<%# country_select is not supported by bootstrap_forms gem, so we need to 
    construct the label and wrapper HTML manually here %>
<div class="mb-3">
  <%= f.label :country_code, "Country", class: "form-label" %>
  <%
    if @site.country_from_coordinates.present?
      country_guess = @site.country_from_coordinates.alpha2
    else
      country_guess = nil
    end
  %>
  <%= f.country_select :country_code, 
    { 
      include_blank: na_value, 
      priority_countries: [country_guess]
    }, 
    { data: { controller: 'tom-select' } } 
  %>
</div>

<%= f.collection_select :site_type_ids, SiteType.all, :id, :name,
  { label: "Site type(s)", include_blank: na_value },
  { multiple: true, data: { controller: "tom-select" } }
%>
