<%= f.text_field :name, label: "Canonical name", help: "Aliases and names in other languages can be added after the site is created." %>

<%# country_select is not supported by bootstrap_forms gem, so we need to 
    construct the label and wrapper HTML manually here %>
<div class="mb-3">
  <%= f.label :country_code, "Country", class: "form-label" %>
  <%=
    country_select_options = { include_blank: na_value }
    if @site.country_from_coordinates.present?
      country_select_options[:priority_countries] = [@site.country_from_coordinates.alpha2]
    end

    f.country_select :country_code, country_select_options,
      { data: { controller: 'tom-select' } } 
  %>
</div>

<div class="row">
  <div class="col"><%= f.number_field :lat, label: 'Latitude', append: '°N',
    help: '<a href="https://www.fcc.gov/media/radio/dms-decimal" target="_blank">Convert DMS to decimal degrees</a>.'.html_safe %></div>
  <div class="col"><%= f.number_field :lng, label: 'Longitude', append: '°E' %></div>
</div>

<%= f.collection_select :site_type_ids, SiteType.all, :id, :name,
  { label: "Site type(s)", include_blank: na_value },
  { multiple: true, data: { controller: "tom-select" } }
%>

