<%= f.text_field :name %>

<div class="row">
  <div class="col"><%= f.number_field :lat, label: 'Latitude' %></div>
  <div class="col"><%= f.number_field :lng, label: 'Longitude' %></div>
</div>

<div class="mb-3">
  <%= f.label :country_code, "Country", class: "form-label" %>
  <%= f.country_select :country_code, 
    { 
      include_blank: na_value, 
      priority_countries: [@site.country_from_coordinates.alpha2] 
    }, 
    { data: { controller: 'tom-select' } } 
  %>
</div>
