<% content_for :head do %>
  <%= javascript_pack_tag 'autocomplete' %>
<% end %>
<%= f.text_control :name %>

<div class="row">
  <%= f.degree_control :lat, label: 'Latitude' %>
  <%= f.degree_control :lng, label: 'Longitude' %>
</div>

<%= f.text_control :country_id, label: 'Country', autocomplete: 'countries' %>

