<%= f.text_control :name %>

<div class="row">
  <%= f.degree_control :lat, label: 'Latitude' %>
  <%= f.degree_control :lng, label: 'Longitude' %>
</div>

<%= f.collection_select :country_id, Country.all, :id, :name, { include_blank: 'Create new' }, {:class => "observed_select"}  %>
<%= f.fields_for :country, Country.new do |country| %>
<%= render 'countries/country_fields', :f => country %>
<% end %>

<h2>Fell phases</h2>

<%= f.fields_for :fell_phases do |fell_phase| %>
  <%= render 'fell_phases/fell_phase_fields_embedded', :f => fell_phase %>
<% end %>
<div class="mb-3">
  <%=
    link_to_add_association(f, :fell_phases, partial: 'fell_phases/fell_phase_fields_embedded', class: 'btn btn-success', ) do
      fa_icon 'plus', title: 'Add fell phase'
    end
  %>
</div>
