<div class="container my-5">
  <%= render 'shared/notice' %>

  <h1>Sites</h1>

  <table class="responsive nowrap table table-hover align-middle">
    <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th class="text-end">Coordinates</th>
        <% if can? :manage, Site %><th><!-- Actions --></th><% end %>
      </tr>
    </thead>

    <tbody>
      <% @sites.each do |site| %>
        <tr>
          <td><%= link_to site.name, site %></td>
          <td><%= site.country.present? ? site.country.common_name : na_value %></td>
          <td class="text-end font-monospace"><%= site.coordinates.present? ? site.coordinates : na_value %></td>
          <% if can? :manage, Site %><td class="text-end"><%= render 'shared/action_buttons_compact', i: site %></td><% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%== pagy_bootstrap_nav(@pagy) %>

  <%= link_to 'New site', new_site_path, class: 'btn btn-secondary' %>
</div>
