<div class="container">
  <%= render 'shared/notice' %>

  <h1>Sites</h1>

  <table class="responsive nowrap table table-hover align-middle">
    <thead>
      <tr>
        <th>Name</th>
        <th>Coordinates</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @sites.each do |site| %>
        <tr>
          <td><%= link_to site.name, site %></td>
          <td><%= site.lat %>&deg; N, <%= site.lng %>&deg; E</td>
          <td><%= render 'shared/action_buttons_compact', i: site %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New site', new_site_path, class: 'btn btn-secondary' %>
</div>
