<% content_for :title, @site.name %>
<% content_for :head do %>
  <%= javascript_pack_tag 'map' %>
<% end %>

<header id="site-header" class="bg-primary text-light">
  <div class="container my-5">
    <h1 class="display-1"><%= @site.name %></h1>
    <h2 class="display-6">Site <% if @site.country.present? %> in <%= @site.country.common_name %><%end%></h2>
  </div>
</header>

<section id="site-map">
  <div id="background_map" style="height: 30rem; position: relative;"></div>
</section>

<section id="site-details" class="bg-body">
  <div class="container my-5">
    <%= render "site_details", site: @site %>
    <% if can? :edit, Site %>
      <div class="text-end my-3">
        <%= link_to(edit_site_path, class: "btn btn-sm btn-primary", data: { "turbo_frame": "remote_modal" }) do %>
          <%= fa_icon "pencil", text: "Edit site details" %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

<section id="site-xrons" class="bg-light">
  <div class="container my-5">

    <% unless @site.c14s.nil? %>
      <section id="site-c14s" class="py-3">
        <h2><%= C14.label.humanize.pluralize %></h2>
        <p><%= @site.name %> has <%= pluralize(@site.c14s.count, C14.label) %>.</p>
        <%= render "c14s/table", c14s: @site.c14s %>
      </section>
    <%end%>

    <% unless @site.typos.nil? %>
      <section id="site-typos" class="py-3">
        <h2><%= Typo.label.humanize.pluralize %></h2>
        <p><%= @site.name %> has <%= pluralize(@site.typos.count, Typo.label) %>.</p>
        <%= render "typos/table", typos: @site.typos %>
      </section>
    <%end%>

  </div>
</section>

<section id="xronos-metadata" class="bg-body">
  <div class="container my-5">
    <div class="row">
      
      <div class="col">
        <h2>XRONOS metadata</h2>
        <%= render "shared/record_metadata", record: @site, record_label: Site.label %>
      </div>

      <div class="col">
        <h2>Changelog</h2>
        <%= render "shared/paper_trail", item: @site %>
      </div>
  </div>
</section>
