<% content_for :title, @site.name %>
<% content_for :meta_description, "Chronometric data for #{@site.name}, an archaeological site in #{@site.country}, including #{@site.c14s.count} radiocarbon dates, #{@site.typos.count} typological classifications, and #{@site.references.count} bibliographic references." %>

<%= render "header", site: @site %>

<% unless @site.lat.blank? or @site.lng.blank? %>
  <section id="siteMap" class="bg-primary">
    <div style="height: 30rem; position: relative;"
         data-controller="map"
         data-map-style-value="show_site"
         data-map-target="container"
         data-map-base-map-value="Imagery"
         data-map-markers-data-value='<%= [@site].to_json.html_safe %>'>
    </div>
  </section>
<% end %>

<section id="site-details" class="bg-body">
  <div class="container my-5">
    <%= turbo_frame_tag @site do %>
      <div class="d-flex">
        <h2>
          <%= xr_icon Site, {}, style: "width: auto; height: 2rem" %>
          <%= Site.label.humanize %> details
        </h2>
        <% if can? :edit, Site %>
          <div class="ms-auto">
            <%= link_to edit_icon,
              edit_site_path, 
              class: "btn btn-sm btn-outline-primary" %>
          </div>
        <% end %>
      </div>
      <%= render "site_details", site: @site %>
    <% end %>
  </div>
</section>

<section id="site-xrons" class="bg-body">
    <% unless @c14s.nil? %>
      <div id="site-c14s" class="container my-5">
        <div id="sites-c14s-toolbar" class="d-flex">
          <h2>
            <%= xr_icon C14, {}, style: "width: auto; height: 2rem" %>
            <%= C14.label.humanize.pluralize %>
            <small class="text-muted">(<%= @pagy_c14s.count %>)</small>
          </h2>
          <div class="ms-auto">
            <%= link_to bs_icon("download"), 
              c14s_path(format: :csv, c14: { sample: { contexts: { site_id: @site.id } } }), 
              class: "btn btn-sm btn-outline-primary", 
              title: "Download CSV" %>
          </div>
        </div>

        <turbo-frame id="site-c14s-table">
          <%= render "c14s/table", c14s: @c14s %>
          <% unless @pagy_c14s.pages <= 1 %>
            <%== pagy_bootstrap_nav(@pagy_c14s) %>
          <% end %>
        </turbo-frame>
      </div>
    <%end%>

    <% unless @typos.nil? %>
      <div id="site-typos" class="container my-5">
        <div id="sites-typos-toolbar" class="d-flex">
          <h2>
            <%= xr_icon Typo, {}, style: "width: auto; height: 2rem" %>
            <%= Typo.label.humanize.pluralize %>
            <small class="text-muted">(<%= @pagy_typos.count %>)</small>
          </h2>
          <div class="ms-auto">
            <%= link_to bs_icon("download"), 
              typos_path(format: :csv, typo: { sample: { contexts: { site_id: @site.id } } }), 
              class: "btn btn-sm btn-outline-primary", 
              title: "Download CSV" %>
          </div>
        </div>
        <turbo-frame id="site-typos-table">
          <%= render "typos/table", typos: @typos %>
          <% unless @pagy_typos.pages <= 1 %>
            <%== pagy_bootstrap_nav(@pagy_typos) %>
          <% end %>
        </turbo-frame>
      </div>
    <%end%>

  </div>
</section>

<section id="references" class="bg-body">
  <div class="container my-5">
    <h2>
      <%= xr_icon Reference, {}, style: "width: auto; height: 2rem" %>
      <%= Reference.label.humanize.pluralize %>
      <!-- <small class="text-muted">(<%# @site.recursive_references.count %>)</small>-->
    </h2>
    <%= render "references/bibliography", 
      references: @site.recursive_references %>
  </div>
</section>

<section id="xronos-metadata" class="bg-light">
  <div class="container my-5">

    <div class="my-5">
      <h2>Metadata</h2>
      <%= render "shared/record_metadata", record: @site, record_label: Site.label %>
    </div>

    <div class="my-5">
      <h2>Changelog</h2>
      <%= render "application/paper_trail/versions", item: @site %>
    </div>

</section>
