<% content_for :title, @site.name %>

<header id="site-header" class="bg-light text-primary">
  <div class="container my-5">
    <h1 class="display-1"><%= @site.name %></h1>
    <h2 class="display-6">
      <%= xr_icon Site, {}, { style: "height: 2.5rem;" } %>
      <%= Site.label.humanize %> 
      <% if @site.country.present? %> in <%= @site.country.common_name %><%end%>
    </h2>
  </div>
</header>

<% unless @site.lat.blank? or @site.lng.blank? %>
  <section id="siteMap" class="bg-primary">
    <div style="height: 30rem; position: relative;"
         data-controller="map"
         data-map-style-value="show_site"
         data-map-target="container"
         data-map-base-map-value="Imagery"
         data-map-markers-data-value='<%= [@site].to_json.html_safe %>'>
    </div>
  </section>
<% end %>

<section id="site-details" class="bg-body">
  <div class="container my-5">
    <%= render "site_details", site: @site %>
    <% if can? :edit, Site %>
      <div class="text-end my-3">
        <%= link_to(edit_site_path, class: "btn btn-sm btn-primary", data: { "turbo_frame": "remote_modal" }) do %>
          <%= fa_icon "pencil", text: "Edit site details" %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

<section id="site-xrons" class="bg-body">
    <% unless @c14s.nil? %>
      <div id="site-c14s" class="container my-5">
        <h2>
          <%= xr_icon C14, {}, style: "height: 2rem" %>
          <%= C14.label.humanize.pluralize %>
          <small class="text-muted">(<%= @c14s.count %>)</small>
        </h2>
        <%= render "c14s/table", c14s: @c14s %>
      </div>
    <%end%>

    <% unless @typos.nil? %>
      <div id="site-typos" class="container my-5">
        <h2>
          <%= xr_icon Typo, {}, style: "height: 2rem" %>
          <%= Typo.label.humanize.pluralize %>
          <small class="text-muted">(<%= @c14s.count %>)</small>
        </h2>
        <%= render "typos/table", typos: @typos %>
      </div>
    <%end%>

  </div>
</section>

<section id="references" class="bg-body">
  <div class="container my-5">
    <h2>
      <%= xr_icon Reference, {}, style: "height: 2rem" %>
      <%= Reference.label.humanize.pluralize %>
      <small class="text-muted">(<%= @site.recursive_references.count %>)</small>
    </h2>
    <%= render "references/bibliography", 
      references: @site.recursive_references %>
  </div>
</section>

<section id="xronos-metadata" class="bg-light">
  <div class="container my-5">

    <div class="my-5">
      <h2>Metadata</h2>
      <%= render "shared/record_metadata", record: @site, record_label: Site.label %>
    </div>

    <div class="my-5">
      <h2>Changelog</h2>
      <%= render "application/paper_trail/versions", item: @site %>
    </div>

</section>
