<div id="<%= dom_id dendro %>">
  <p>
    <strong>Sample:</strong>
    <%= dendro.sample_id %>
  </p>

  <p>
    <strong>Series code:</strong>
    <%= dendro.series_code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= dendro.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dendro.description %>
  </p>

  <p>
    <strong>Start year:</strong>
    <%= dendro.start_year %>
  </p>

  <p>
    <strong>End year:</strong>
    <%= dendro.end_year %>
  </p>

  <p>
    <strong>Is anchored:</strong>
    <%= dendro.is_anchored %>
  </p>

  <p>
    <strong>Offset:</strong>
    <%= dendro.offset %>
  </p>

  <p>
    <strong>Measurements:</strong>
    <%= dendro.measurements %>
  </p>

</div>
