<h2 class="h5">Identifier</h2>

<div class="row">
  <div class="col">
    <%= f.text_field :name, label: "Name" %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= f.text_field :series_code, label: "Series Code" %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= tristate_radio_button_group(f, :is_anchored, overall_label: "Is Anchored?") %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= tristate_radio_button_group(f, :waney_edge, overall_label: "Has Waney Edge?") %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= f.text_area :description, label: "Description" %>
  </div>
</div>

<%= f.fields_for :sample, @dendro.sample do |ff| %>
  <%= render "samples/fields", f: ff %>
<% end %>

<h2 class="h5">Measurements</h2>

<div class="row">
  <div class="col">
    <%= f.number_field :start_year, label: "Start Year", append: "BP" %>
  </div>
  <div class="col">
    <%= f.number_field :end_year, label: "End Year", prepend: "BP" %>
  </div>
  <div class="col">
    <%= f.number_field :offset, label: "Offset" %>
  </div>
</div>

<h2 class="h5">Object Details</h2>

<div class="row">
  <div class="col">
    <%= f.text_field :object_title, label: "Object Title" %>
  </div>
  <div class="col">
    <%= f.text_field :object_type, label: "Object Type" %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= f.text_area :object_description, label: "Object Description" %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= f.text_area :object_dimensions, label: "Object Dimensions" %>
  </div>
</div>

<h2 class="h5">Project Details</h2>

<div class="row">
  <div class="col">
    <%= f.text_field :project_title, label: "Project Title" %>
  </div>
  <div class="col">
    <%= f.text_area :project_objective, label: "Project Objective" %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= f.date_field :project_start_date, label: "Project Start Date" %>
  </div>
  <div class="col">
    <%= f.date_field :project_end_date, label: "Project End Date" %>
  </div>
</div>

<h2 class="h5">Completeness and Parameters</h2>

<div class="row">
  <div class="col">
    <%= f.text_field :wood_completeness, label: "Wood Completeness" %>
  </div>
  <div class="col">
    <%= f.text_area :parameters, label: "Parameters" %>
  </div>
</div>