<p style="color: green"><%= notice %></p>

<%= render @dendro %>

<div>
  <%= link_to "Edit this dendro", edit_dendro_path(@dendro) %> |
  <%= link_to "Back to dendros", dendros_path %>

  <%= button_to "Destroy this dendro", @dendro, method: :delete %>
</div>
