<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">
        <%= link_to_order_by "ID", :id %>
        <% if ordered_by?(:id) %>
          <span class="text-muted"><%= order_indicator %></span>
        <% end %>
      </th>
      <th scope="col">
        <%= link_to_order_by "Name", :name %>
        <% if ordered_by?(:name) %>
          <span class="text-muted"><%= order_indicator %></span>
        <% end %>
      </th>
      <th scope="col">
        <%= link_to_order_by "GBIF usage", :gbif_id %>
        <% if ordered_by?(:gbif_id) %>
          <span class="text-muted"><%= order_indicator %></span>
        <% end %>
      </th>
      <th scope="col" class="text-end">
        <%= link_to_order_by "Samples", :samples_count %>
        <% if ordered_by?(:samples_count) %>
          <span class="text-muted"><%= order_indicator %></span>
        <% end %>
      </th>
      <% if can? :manage, Taxon %><th scope="col"><span class="visually-hidden">Actions</span></th><% end %>
    </tr>
  </thead>

  <tbody>
    <% taxons.each do |taxon| %>
      <tr>
        <td class="text-muted"><%= taxon.id %></td>
        <td><%= taxon.name %></td>
        <td><%= render "taxons/gbif_usage", gbif_usage: taxon.gbif_usage %></td>
        <td class="text-end"><%= taxon.samples_count %></td>
        <% if can? :manage, Taxon %>
          <td class="text-end"><%= render "shared/action_buttons_compact", i: taxon %></td>
        <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
