<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <% base_title = content_for?(:title) ? yield(:title) : "XRONOS" %>
  <% full_title = base_title == "XRONOS" ? base_title : "#{base_title} – XRONOS" %>
  <title><%= full_title %></title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="description" content="<%= meta :meta_description, 'An open repository and curation platform for chronometric data from archaeological contexts worldwide.' %>">

  <!-- OpenGraph metadata https://ogp.me/ -->
  <meta property="og:type" content="<%= meta(:og_type, "website") %>">
  <meta property="og:site_name" content="XRONOS">
  <meta property="og:title" content="<%= meta :og_title, base_title %>">
  <meta property="og:description" content="<%= meta :og_description, 'XRONOS is an open data infrastructure for the backbone of the archaeological record – chronology. It provides open access to published radiocarbon dates and other chronometric data from any period, anywhere in the world.' %>">
  <meta property="og:url" content="<%= meta :og_url, request.original_url %>">
  <meta property="og:image" content="<%= meta :og_image, image_url('og/default.png') %>">
  <% if content_for?(:article_meta) %>
    <%= yield :article_meta %>
  <% end %>
  <meta name="twitter:card" content="summary_large_image">

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "frontend", "data-turbo-track": "reload" %>
  <%= yield :page_styles %>

  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  <% if Rails.env.production? %>
    <script async src="https://analytics.xronos.ch/script.js" data-website-id="e5a03dd9-a74b-4246-834b-988b0a7a1247"></script>
  <% end %>

  <%= yield :head %>

  <%= favicon_link_tag asset_path("favicon.ico") %>
</head>

<body class="min-vh-100 d-flex flex-column">
<div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 9999">
  <% flash.each do |flash_type, message| %>
    <%= render "layouts/flash", flash_type: flash_type, message: message %>
  <% end %>
</div>

<%= turbo_frame_tag "remote_modal", target: "_top" %>

<%= yield :top %>

<%= render "navbar" %>

<%= content_for?(:content) ? yield(:content) : yield %>

<%= yield :before_footer %>

<footer class="mt-auto pb-3 text-bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mb-5">
        <%= image_tag "xronos_logo_light.svg",
                      alt: "XRONOS",
                      class: "mt-3 mb-3",
                      style: "max-height: 3rem;" %>

        <p class="mt-0 mb-3">
          XRONOS is an open repository and curation platform for chronometric data from archaeological contexts worldwide.
        </p>

        <div class="d-flex flex-wrap gap-4 align-items-center">
          <a href="https://www.uni-kiel.de/" title="Kiel University">
            <%= image_tag "sponsors/kiel.svg",
                          alt: "Kiel University logo",
                          style: "max-height: 3rem;" %>
          </a>

          <a href="https://www.ku.dk/english/" title="University of Copenhagen">
            <%= image_tag "sponsors/ku.svg",
                          alt: "University of Copenhagen logo",
                          style: "max-height: 3rem;" %>
          </a>

          <a href="https://www.unibe.ch/" title="University of Bern">
            <%= image_tag "sponsors/unibe.webp",
                          alt: "University of Bern logo",
                          style: "max-height: 3rem;" %>
          </a>

          <a href="https://ester-project.org/" title="ESTER Project">
            <%= image_tag "sponsors/ester.webp",
                          alt: "ESTER project logo",
                          style: "max-height: 3rem;" %>
          </a>
        </div>

        <h2 class="small text-light opacity-75 mt-4 mb-2">Supported by</p>
        <div class="d-flex flex-wrap gap-4 align-items-center">

          <a href="https://erc.europa.eu/" title="European Research Council">
            <%= image_tag "sponsors/erc.svg",
                          alt: "European Research Council logo",
                          style: "max-height: 3rem;" %>
          </a>

          <a href="https://www.snf.ch/" title="Swiss National Science Foundation">
            <%= image_tag "sponsors/snf.webp",
                          alt: "Swiss National Science Foundation logo",
                          style: "max-height: 3rem;" %>
          </a>

        </div>
      </div>

      <div class="col-6 col-md-3 mt-md-5 text-md-end">
        <h2 class="h6 mt-3 fw-bold text-uppercase">Data</h2>
        <ul class="nav flex-column mb-3">
          <li class="nav-item">
            <a class="nav-link ps-0 pe-0 link-light" href="/data">Browser</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-0 pe-0 link-light" href="/database">Schema</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-0 pe-0 link-light" href="/api">API</a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-3 mt-md-5 text-md-end">
        <h2 class="h6 mt-3 fw-bold text-uppercase">About</h2>
        <ul class="nav flex-column mb-3">
          <%= render "articles/nav",
                     section: "about",
                     itemclass: "nav-item",
                     linkclass: "nav-link ps-0 pe-0 link-light" %>
          <li class="nav-item">
            <a class="nav-link ps-0 pe-0 link-light <%= active_class acknowledgements_path %>"
               href="<%= acknowledgements_path %>"
               <%= active_aria acknowledgements_path %>>
              Acknowledgements
            </a>
          </li>
        </ul>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <small class="rights">
          This work is licensed under a
          <a class="link-light" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            Creative Commons Attribution 4.0 International License
          </a>.
        </small>
      </div>

      <div class="col-md-6 text-md-end">
        <small class="source-code">
          <a class="link-light text-decoration-none me-1" href="https://github.com/xronos-ch/xronos.rails/releases/tag/v<%= Rails.application.config.x.version %>" target="_blank">
            XRONOS web v<%= Rails.application.config.x.version %>
          </a>
          <a class="link-light text-decoration-none me-1" href="https://doi.org/10.5281/zenodo.13138531" title="Archived on Zenodo" target="_blank">
            <%= simple_icon "zenodo" %>
          </a>
          <a class="link-light text-decoration-none" href="https://github.com/xronos-ch/xronos.rails/" title="View source code on GitHub" target="_blank">
            <%= bs_icon "github" %>
          </a>
        </small>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
