<!DOCTYPE html>
<html>
  <head>
    <title>Xronos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= include_gon %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>

    <%= loading_screen style: :rectangle_bounce, color: "#232323", background: "rgba(0, 0, 0, 0.0)" %>

    <div id="notch_wrap">
      <div id="notch">
        <b> <a href="https://www.github.com/nevrome/xronos.rails"><%= image_tag "logo.svg.png", height: '20' %> </a></b>
        <div id="notch_login_status">
          <% if user_signed_in? %>
            <%= fa_icon "user" %> <% if current_user.admin? %> <%= fa_icon "legal" %> <% end %> <%= current_user.email[0...15] + "..." %>
            <%= fa_icon "edit" %> <%= link_to('Edit registration', edit_user_registration_path, class: "user_edit_link") %>
            <%= fa_icon "sign-out" %> <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          <% else %>
            <%= fa_icon "sign-in" %> <%= link_to('Login', new_user_session_path, class: "user_edit_link") %>
            <%= fa_icon "user-plus" %> <%= link_to('Register', new_user_registration_path, class: "user_edit_link") %>
          <% end %>
        </div>
      </div>
    </div>

		<!-- #### left_window #### -->
		<div class="left_window_menu <%= 'active' if session[:left_window_active] %>">

			<button id="left_window_nav_general" type="button" aria-label="toggle left_window_menu">
        <%= fa_icon "database" %>
			</button>

			<nav class="left_window_nav <%= 'big' if session[:left_window_big] %>">

        <button id="left_window_nav_extend" type="button" aria-label="extend left_window_menu">
          <%= fa_icon "expand" %>
        </button>

				<div id="content">

					<nav id="nav">
						<%= render_navigation renderer: :links %>
					</nav>

					<!-- #### Pages #### -->
					<main class="<%= 'big' if session[:left_window_big] %>">

            <nav id="breadcrumbs_nav">
              <%= render_navigation renderer: :breadcrumbs, join_with: ' &gt; ' %>
            </nav>

						<% flash.each do |name, msg| %>
              <% if msg.is_a?(String) %>
						    <div id="flash_container">
							    <%= content_tag :div, msg %>
                </div>
             <% end %>
           <% end %>

  					<!-- #### Home #### -->
						<div id="Home" class="page default">

							<%= yield %>

						</div>

					</main>

			</nav>

		</div>

		<!-- #### right_window #### -->
    <div class="right_window_menu <%= 'active' if session[:right_window_active] %>">

      <button id="right_window_nav_general" type="button" aria-label="toggle right_window_menu">
        <%= fa_icon "search" %>
      </button>

      <nav class="right_window_nav">

        <div id="right_window_body">

          <% if session[:spatial_lasso_selection].present? || !(session[:spatial_lasso_selection].nil?) %> <%= fa_icon "check" %> <% else %> <%= fa_icon "times" %> <% end %>
          Spatial lasso selection <br>
          <button id="toggleLasso"><%= fa_icon "circle-o-notch" %> Lasso</button>
          <button id="turnoffLasso"><%= fa_icon "times-circle" %> turn off</button>

          <%# site_types_array = SiteType.all.map { |x| [x.name, x.name] } %>
          <%# countries_array = Country.all.map { |x| [x.name, x.name] } %>

          <%= form_tag(root_path, method: "get") do %>

            <label for="uncal_age_slider"><% if (session[:query_uncal_age_start].nil? || session[:query_uncal_age_start] == 50000) && (session[:query_uncal_age_stop].nil? || session[:query_uncal_age_stop] == 0) %> <%= fa_icon "times" %> <% else %> <%= fa_icon "check" %> <% end %> Uncalibrated age BP</label>
            <input id="uncal_age_slider" class="uncal-range-slider"></input>
            <%= hidden_field_tag(:query_uncal_age_start, session[:query_uncal_age_start]) %>
            <%= hidden_field_tag(:query_uncal_age_stop, session[:query_uncal_age_stop]) %>

            <label for="cal_age_slider"><% if (session[:query_cal_age_start].nil? || session[:query_cal_age_start] == 50000) && (session[:query_cal_age_stop].nil? || session[:query_cal_age_stop] == 0) %> <%= fa_icon "times" %> <% else %> <%= fa_icon "check" %> <% end %> Calibrated age BP</label>
            <input id="cal_age_slider" class="cal-range-slider"></input>
            <%= hidden_field_tag(:query_cal_age_start, session[:query_cal_age_start]) %>
            <%= hidden_field_tag(:query_cal_age_stop, session[:query_cal_age_stop]) %>

            <label for="query_source_database"><% if !(session[:query_source_database].nil?) %> <%= fa_icon "check" %> <% else %> <%= fa_icon "times" %> <% end %> Source database</label>
            <%= autocomplete_field_tag(:query_source_database, session[:query_source_database], data_autocomplete_source_database_name_path, 'data-delimiter' => '|', multiple: true, 'data-auto-focus' => true) %>

            <label for="query_labnr"><% if !(session[:query_labnr].nil?) %> <%= fa_icon "check" %> <% else %> <%= fa_icon "times" %> <% end %> Lab number</label>
            <%= text_field_tag(:query_labnr, (session[:query_labnr] or "")) %>

            <label for="query_site"><% if !(session[:query_site].nil?) %> <%= fa_icon "check" %> <% else %> <%= fa_icon "times" %> <% end %> Site name</label>
            <%= autocomplete_field_tag(:query_site, session[:query_site], data_autocomplete_site_name_path, 'data-delimiter' => '|', multiple: true, 'data-auto-focus' => true) %>

            <label for="query_site_type"><% if !(session[:query_site_type].nil?) %> <%= fa_icon "check" %> <% else %> <%= fa_icon "times" %> <% end %> Site type</label>
            <%= autocomplete_field_tag(:query_site_type, session[:query_site_type], data_autocomplete_site_type_name_path, 'data-delimiter' => '|', multiple: true, 'data-auto-focus' => true) %>

            <label for="query_country"><% if !(session[:query_country].nil?) %> <%= fa_icon "check" %> <% else %> <%= fa_icon "times" %> <% end %> Country</label>
            <%= autocomplete_field_tag(:query_country, session[:query_country], data_autocomplete_country_name_path, 'data-delimiter' => '|', multiple: true) %>

            <label for="query_feature"><% if !(session[:query_feature].nil?) %> <%= fa_icon "check" %> <% else %> <%= fa_icon "times" %> <% end %> Feature</label>
            <%= text_field_tag(:query_feature, (session[:query_feature] or "")) %>

            <label for="query_material"><% if !(session[:query_material].nil?) %> <%= fa_icon "check" %> <% else %> <%= fa_icon "times" %> <% end %> Material</label>
            <%= autocomplete_field_tag(:query_material, session[:query_material], data_autocomplete_material_name_path, 'data-delimiter' => '|', multiple: true, 'data-auto-focus' => true) %>

            <label for="query_species"><% if !(session[:query_species].nil?) %> <%= fa_icon "check" %> <% else %> <%= fa_icon "times" %> <% end %> Species</label>
            <%= text_field_tag(:query_species, (session[:query_species] or "")) %>

            <br><br>
            <%= button_tag type: 'submit' do %> <%= fa_icon "search" %> Filter dates<% end %>

          <% end %>

          <%= fa_icon "times" %> <%= link_to('Reset Filter', resetfilter_url) %>

        </div>

      </nav>

		</div>

		<!-- #### Background map #### -->
		<div id="background_map"></div>



  </body>
</html>
