<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xronos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'frontend' %>

    <%= include_gon %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>

    <%= loading_screen style: :rectangle_bounce, color: "#232323", background: "rgba(0, 0, 0, 0.0)" %>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><%= image_tag "logo.svg.png", height: '20' %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/table">Table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/map">Map</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/about">About this Project</a></li>
            <li><a class="dropdown-item" href="/database">About this Database</a></li>
            <li><a class="dropdown-item" href="/api">API</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="d-flex">
                <% if user_signed_in? %>
            <%= fa_icon "user" %> <% if current_user.admin? %> <%= fa_icon "legal" %> <% end %> <%= current_user.email[0...15] + "..." %>
            <%= fa_icon "edit" %> <%= link_to('Edit registration', edit_user_registration_path, class: "user_edit_link") %>
            <%= fa_icon "sign-out" %> <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          <% else %>
           <div class="dropdown">
           	  <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				Sign in
			  </button>

			  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink" style="width: 300px">
				<%= form_for :user, :url => session_path(:user), :html => {:class => "px-4"}  do |f| %>
    			  <div class="form-group">
			  	    <%= f.label :email, class: "sr-only col-form-label col-form-label-sm" %>
					<div class="input-group">
				        <div class="input-group-text" style="width: 15px;"><%= fa_icon "user" %></div>
			          <%= f.text_field :email, class: "form-control form-control-sm", placeholder: "email@example.com"  %>
				    </div>
				  </div>
				  <div class="form-group">
			 	    <%= f.label :password, class: "sr-only col-form-label col-form-label-sm" %>
  					<div class="input-group">
			          <div class="input-group-text" style="width: 15px;"><%= fa_icon "unlock" %></div>
			          <%= f.password_field :password, class: "form-control form-control-sm", placeholder: "password"  %>
			  	  	</div>
			  	  </div>
				  <div class="form-check" style="display: inline-block;">
				    <%= f.check_box :remember_me, class: "form-check-input form-check-input-sm"  %>
				    <%= f.label :remember_me, "Remember me", class: "form-check-label col-form-label-sm" %>
			      </div>
			      <%= f.submit 'Sign in', class: "btn btn-primary pull-right" %>
				<% end %>
				<!-- <div class="dropdown-divider"></div>
				<%= link_to "Forgot your password?", new_password_path(:user), class: "dropdown-item" %>
				<%= link_to('New around here? Sign up', new_user_registration_path, class: "dropdown-item") %> -->
			  </div>
		   </div>
          <% end %>
    </div>
  </div>
</nav>

<%= yield %>

		<!-- #### left_window #### -->
		<div class="left_window_menu <%= 'active' if session[:left_window_active] %>">

			<nav class="left_window_nav <%= 'big' if session[:left_window_big] %>">

        <button id="left_window_nav_extend" type="button" aria-label="extend left_window_menu">
          <%= fa_icon "expand" %>
        </button>

				<div id="content">

					<nav id="nav">
						<%= render_navigation renderer: :links %>
					</nav>

					<!-- #### Pages #### -->
					<main class="<%= 'big' if session[:left_window_big] %>">

            <nav id="breadcrumbs_nav">
              <%= render_navigation renderer: :breadcrumbs, join_with: ' &gt; ' %>
            </nav>

						<% flash.each do |name, msg| %>
              <% if msg.is_a?(String) %>
						    <div id="flash_container">
							    <%= content_tag :div, msg %>
                </div>
             <% end %>
           <% end %>

  					<!-- #### Home #### -->
						<div id="Home" class="page default">

							<%#= yield %>

						</div>

					</main>

			</nav>

		</div>

  </body>
</html>
