<!DOCTYPE html>
<html>
  <head>
    <title>Xronos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= include_gon %>
  </head>

  <body>
          
  	<p class="notice"><%= notice %></p>
  	<p class="alert"><%= alert %></p>
  
		<!-- Foldout main navigation window -->
		<div class="burger_menu active">

			<button id="burger_nav_general" class="burger_nav-tgl" type="button" aria-label="toggle burger_menu">
				<span aria-hidden="true"></span>
			</button>

			<nav class="burger_nav">

        <button id="burger_nav_extend" type="button" aria-label="extend burger_menu">
          <%= fa_icon "expand" %>
        </button>

				<div id="content">

					<nav id="nav">
						<%= render_navigation renderer: :links %>
					</nav>

					<!-- #### Pages #### -->
					<main>
            
						<% flash.each do |name, msg| %>
              <% if msg.is_a?(String) %>
						    <div id="flash_container">
							    <%= content_tag :div, msg %>
                </div>
             <% end %>
           <% end %>

						<!-- #### API #### -->
						<div id="API" class="page">
							<h1>API</h1>
							<hr>
							<p>You can query this database in the following ways...</p>
	
						</div>
						
						<!-- #### About #### -->
						<div id="About" class="page">
							<h1>About</h1>
							<hr>
							<p>Xronos is...</p>
							<h2>Team</h2>
						</div>

						<!-- #### Home #### -->
						<div id="Home" class="page default">
							
							<%= yield %>

							<hr>

							<!-- #### Links to models #### -->
							<%= link_to 'c14_measurements', controller: '/c14_measurements', :action => :index %>
							<%= link_to 'dendro_measurements', controller: '/dendro_measurements', :action => :index %>
							<%= link_to 'measurements', controller: '/measurements', :action => :index %>
							<%= link_to 'labs', controller: '/labs', :action => :index %>
							<%= link_to 'samples', controller: '/samples', :action => :index %>
							<%= link_to 'labs', controller: '/labs', :action => :index %>
							<%= link_to 'sites', controller: '/sites', :action => :index %>
							<%= link_to 'countries', controller: '/countries', :action => :index %>
							<%= link_to 'site_types', controller: '/site_types', :action => :index %>
							<%= link_to 'on_site_object_positions', controller: '/on_site_object_positions', :action => :index %>
							<%= link_to 'feature_types', controller: '/feature_types', :action => :index %>
							<%= link_to 'materials', controller: '/materials', :action => :index %>
							<%= link_to 'species', controller: '/species', :action => :index %>
							<%= link_to 'references', controller: '/references', :action => :index %>
							<%= link_to 'phases', controller: '/phases', :action => :index %>
							<%= link_to 'cultures', controller: '/cultures', :action => :index %>
							<%= link_to 'arch_objects', controller: '/arch_objects', :action => :index %>

						</div>

					</main>

			</nav>

		</div>

		<!-- #### Draggable console #### -->
		<div id = "controls">

			<div id="controls_login_status">
				<% if user_signed_in? %>
					<%= fa_icon "user" %> <% if current_user.admin? %> <%= fa_icon "legal" %> <% end %> <%= current_user.email[0...15] + "..." %> <br>
					<%= fa_icon "edit" %> <%= link_to('Edit registration', edit_user_registration_path) %> <br>
					<%= fa_icon "sign-out" %> <%= link_to('Logout', destroy_user_session_path, method: :delete) %> <br>
				<% else %>
					<%= fa_icon "sign-in" %> <%= link_to('Login', new_user_session_path) %> 
					<%= fa_icon "user-plus" %> <%= link_to('Register', new_user_registration_path) %> <br>
				<% end %>
			</div>

			<div id="controls_header">
				<h1>Xronos</h1>
			</div>

			<div id="controls_body">

        <button id="toggleLasso"><%= fa_icon "circle-o-notch" %> Lasso</button><button id="turnoffLasso"><%= fa_icon "times-circle" %> turn off</button>

				<%= form_tag(root_path, method: "get") do %>
					<%= label_tag(:query_site_name, "Site name:") %>
					<%= text_field_tag(:query_site_name, (params[:query_site_name] or "")) %>
					<%= label_tag(:query_lat_start, "Lat min:") %>
					<%= number_field_tag(:query_lat_start, (params[:query_lat_start] or ""), in: (-100..100).to_a) %>
					<%= label_tag(:query_lat_stop, "Lat max:") %>
					<%= number_field_tag(:query_lat_stop, (params[:query_lat_stop] or ""), in: (-100..100).to_a) %>
					<br><br>
					<%= submit_tag("Search") %>
				<% end %>

			</div>

		</div>

		<!-- #### Background map #### -->
		<div id="background_map"></div>



  </body>
</html>
