<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xronos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>

    <%= include_gon %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>
  <body>
    <%= loading_screen style: :rectangle_bounce, color: "#232323", background: "rgba(0, 0, 0, 0.0)" %>

   <div id="notch_wrap">
      <div id="notch">
        <a href="https://blog.xronos.ch"><%= image_tag "logo.svg.png", height: '20' %> </a>
        <div id="notch_login_status" style="display: inline-block;">
          <% if user_signed_in? %>
            <%= fa_icon "user" %> <% if current_user.admin? %> <%= fa_icon "legal" %> <% end %> <%= current_user.email[0...15] + "..." %>
            <%= fa_icon "edit" %> <%= link_to('Edit registration', edit_user_registration_path, class: "user_edit_link") %>
            <%= fa_icon "sign-out" %> <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          <% else %>
           <div class="dropright">
			  <button class="btn btn-sm btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Sign in
			  </button>

			  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width: 300px">
				<%= form_for :user, :url => session_path(:user), :html => {:class => "px-4"}  do |f| %>
    			  <div class="form-group">
			  	    <%= f.label :email, class: "sr-only col-form-label col-form-label-sm" %>
					<div class="input-group">
					  <div class="input-group-prepend">
				        <div class="input-group-text" style="width: 15px;"><%= fa_icon "user" %></div>
				      </div>
			          <%= f.text_field :email, class: "form-control form-control-sm", placeholder: "email@example.com"  %>
				    </div>
				  </div>
				  <div class="form-group">
			 	    <%= f.label :password, class: "sr-only col-form-label col-form-label-sm" %>
  					<div class="input-group">
					  <div class="input-group-prepend">
				        <div class="input-group-text" style="width: 15px;"><%= fa_icon "unlock" %></div>
				      </div>
			          <%= f.password_field :password, class: "form-control form-control-sm", placeholder: "password"  %>
			  	  	</div>
			  	  </div>
				  <div class="form-check" style="display: inline-block;">
				    <%= f.check_box :remember_me, class: "form-check-input form-check-input-sm"  %>
				    <%= f.label :remember_me, "Remember me", class: "form-check-label col-form-label-sm" %>
			      </div>
			      <%= f.submit 'Sign in', class: "btn btn-primary pull-right" %>
				<% end %>
				<!-- <div class="dropdown-divider"></div>
				<%= link_to "Forgot your password?", new_password_path(:user), class: "dropdown-item" %>
				<%= link_to('New around here? Sign up', new_user_registration_path, class: "dropdown-item") %> -->
			  </div>
		   </div>
          <% end %>
        </div>
      </div>
    </div>

						<% flash.each do |name, msg| %>
              <% if msg.is_a?(String) %>
						    <div id="flash_container">
							    <%= content_tag :div, msg %>
                </div>
             <% end %>
             <% end %>

					<nav id="nav">
						<%= render_navigation renderer: :links %>
					</nav>


            <nav id="breadcrumbs_nav">
              <%= render_navigation renderer: :breadcrumbs, join_with: ' &gt; ' %>
            </nav>
           <div class="container">
            <%= yield %>
          </div>     

</body>
</html>
